.screen-portfolio {
  flex-grow: 1;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }
  .screen-portfolio.touchable {
    overflow: hidden;
    overflow-y: scroll; }
    .screen-portfolio.touchable > * {
      display: flex; }
  .screen-portfolio::-webkit-scrollbar {
    display: none; }
