@import "../../../sassafras/index.scss";

.screen-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    .screen-body {
        width: 75%;
        margin: auto;
        padding: size(l) 0;
        @include breakpoint($size: s, $inherit: down) {
            width: 100%;
        }

        .screen-title {
            @include type(h3);
            font-weight: normal;
        }

        a {
            @include type(label);
            background-color: black;
            outline: black line(xxs) solid;
            color: white;
            padding: line(m) size(xs);
            position: relative;

            &:hover {
                background-color: transparent;
                color: black;
            }
        }
    }
}
