@import "../../../sassafras/index.scss";

.project-card {
    width: calc(50% - #{size(m)/2});
    margin-bottom: size(m);
    position: relative;

    @include breakpoint($size: m, $inherit: down) {
        width: 100%;
    };

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - #{size(m)});
        height: calc(100% - #{size(m)});
        left: 0;
        bottom: 0;
        background-color: black;
        display: block;
    }

    &:hover {
        padding: 0 0 size(m) size(m);
    }

    &:nth-child(odd) {
        margin-right: size(m);
    }

    > a {
        border: solid black line(m);
        padding:size(m) ;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: black;
        background-color: white;
        z-index: layer(mid-bottom);

    }

    .card-image {
        width: 100%;
        height: auto;
        transform: translateZ(0);
        display: inline-block;
        margin-bottom: size(m);
    }

    .card-meta {
        .card-client {
            @include type(p);
            text-transform: uppercase;
        }
        .card-title {
            @include type(h2);
            position: relative;
            display: inline-block;
            margin-top: size(xs);
            margin-bottom: size(s);
        }
        .card-categories {
            display: flex;
            .card-category {
                @include type(p);
                text-transform: uppercase;
                &::after {
                    content: ', ';
                    white-space: pre;
                }
                &:last-child::after {
                    content: '';
                }
            }
        }
    }
}
