@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700");
.app-header,
.app-footer {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.65rem;
  line-height: 0.65rem;
  margin: 0;
  min-height: 0.975rem;
  display: flex;
  align-items: center;
  z-index: 9999;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  position: relative; }
  .app-header .header-title a:hover,
  .app-footer .header-title a:hover {
    font-weight: 200; }
  .app-header .header-title,
  .app-header .footer-title,
  .app-footer .header-title,
  .app-footer .footer-title {
    flex-grow: 1;
    margin-left: 0.975rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .app-header .footer-subtitle,
  .app-footer .footer-subtitle {
    margin-right: 0.975rem; }

.app-header .cropmark.tl {
  border-left: 0;
  border-top: 0; }

.app-header .cropmark.tr {
  border-right: 0;
  border-top: 0; }

.app-footer .cropmark.bl {
  border-right: 0;
  border-bottom: 0; }

.app-footer .cropmark.br {
  border-left: 0;
  border-bottom: 0; }

.cropmark {
  box-sizing: border-box;
  border: solid currentColor;
  border-width: 4px;
  width: 0.975rem;
  height: 0.975rem; }
  @media only screen and (max-width: 319px) {
    .cropmark {
      width: 0.8125rem;
      height: 0.8125rem;
      border-width: 3px; } }

.header-after {
  position: absolute;
  bottom: -0.975rem;
  right: 0.975rem; }
  @media only screen and (max-width: 319px) {
    .header-after {
      right: 0.8125rem;
      bottom: -0.8125rem; } }
