@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.app-header,
.app-footer {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  min-height: 1.125rem;
  display: flex;
  align-items: center;
  z-index: 9999;
  align-items: center;
  white-space: nowrap;
  position: relative; }
  .app-header .header-title a:hover,
  .app-footer .header-title a:hover {
    font-weight: 200; }
  .app-header .header-menu,
  .app-footer .header-menu {
    flex-grow: 1;
    height: 100%; }
  .app-header .header-menu,
  .app-footer .header-menu {
    margin: 0 1.125rem;
    display: flex;
    justify-content: flex-end; }
    .app-header .header-menu p,
    .app-footer .header-menu p {
      cursor: pointer;
      text-align: right; }

.app-header .cropmark.tl {
  border-left: 0;
  border-top: 0; }

.app-header .cropmark.tr {
  border-right: 0;
  border-top: 0; }

.app-footer .cropmark.bl {
  border-left: 0;
  border-bottom: 0; }

.app-footer .cropmark.br {
  border-right: 0;
  border-bottom: 0; }

.cropmark {
  box-sizing: border-box;
  border: solid currentColor;
  border-width: 4px;
  width: 1.125rem;
  height: 1.125rem; }
  @media only screen and (max-width: 319px) {
    .cropmark {
      width: 0.9375rem;
      height: 0.9375rem;
      border-width: 3px; } }

.header-after {
  position: absolute;
  bottom: -1.125rem;
  right: 1.125rem; }
  @media only screen and (max-width: 319px) {
    .header-after {
      right: 0.9375rem;
      bottom: -0.9375rem; } }
