include ../mixins/flash-messages
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        -var title = locals.title ? 'jacobsfletch: ' + locals.title : 'jacobsfletch'
        -var description = locals.description ? locals.description : 'jacobsfletch'
        title= title || 'jacobsfletch'
        meta(name="description", content=description)
        link(rel="shortcut icon", href="/favicon.png", type="image/x-icon")
        link(rel='stylesheet', type='text/css', href='/styles/jacobsfletch.min.css')
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
        block css
        block head
    body
        block intro
        input#dock(type='checkbox')
        input#explore(type='checkbox')
        .app-main
            header.app-header
                .wrapper
                    a.app-title(href='/')
                        h1 jacobsfletch
                    label.tool-toggle(for='dock')
                        .hamburger.hamburger--squeeze
                            .hamburger-box
                                .hamburger-inner
            footer.app-footer
                nav.menu-vertical
                    ul.menu-body
                        each link in navLinks
                            li.menu-body-part.btn-main.shout(class=(section == link.key ? 'active' : null))
                                if link.key == 'follow'
                                    a.btn-title(target='_blank' href=link.href)= link.label
                                else
                                    a.btn-title(target=link.target href=link.href)= link.label
                nav.menu-vertical
                    .menu-header
                        .menu-title
                            h6 coming soon
                    ul.menu-body
                        li.menu-body-part.btn-main.shout
                            a.btn-title my shop
            .app-body
                block appBody

        // JS includes
        script(src='/js/jacobsfletch.min.js')

        block js
