extends ../layouts/default

block appBody
    .app-body
        .app-body-part.start
            .board-bio
                .board-title
                    h1 hello, my name is jacob fletcher.
                .board-subtitle
                    h2 i am an independent designer, illustrator, and front-end web developer.
                .board-body
                    .board-body-part
                        h3.type-h6
                            | i specialize in branding, portraiture, layout, and experience design. maecenas auctor efficitur libero, ac ullamcorper metus semper nec. donec dapibus nunc quis leo tempus, a porta est venenatis. praesent vitae nisl nec estmaecenas auctor efficitur libero, ac ullamcorper metus semper nec. donec dapibus nunc quis leo tempus, a porta est venenatis. praesent vitae nisl nec est tincidunt tempor id et leo. tincidunt tempor id et leo.
                    .board-body-part
                        .wrapper
                            p
                                | experience is the highest form of art, and is what excites me most about design. experience collectively influences our subconscious, and so the artist is a manifestation of the creativity in their lived-world, and their ability to filter that exposure with intention. art education is founded upon observation and critique; concepts that guide the artist&apos;s creative decision-making process &ndash; equipping them to make choices different from their previous.
                            blockquote.type-blockquote
                                | what excites me most is that while the elements and principles of design guide the artist into spatial obedience on a two or three dimension plane, they also act as a philosophical framework in which one can examine their life and guide it development.
                            p
                                | just as unity, harmony, balance,rhythm, emphasis, proportion, and scale all contribute to an eye-pleasing aesthetic, there are applicable parallels between them and the empirical world. In what ways could oneself be designed using the six principles of design?
                        .wrapper
                            p
                                | it is through this understanding in which I approach art making. What is inevitable is that my artwork becomes the manifestation of the unique exposure of my experiences in the contemporary world. as a result, I actively practice, develop, and integrate the artistic processes into my decision-making insomuch as my creativity allows. therefore, the art that I produce is subject to the spectrum of contexts in which I can successfully translate from experience into visual form through the use of manual dexterity and digital medium.
                                a.btn-main(href='#credentials')
                                    h3.btn-title see my credentials
                .board-footer
                    a.tool-scroll(href='#credentials')
                        .tool-media
                            svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 11 7', style='enable-background:new 0 0 11 7;', xml:space='preserve')
                                polyline(points='10,1.5 5.5,5.5 1,1.5 ')
        #credentials.app-body-part.explore
            .wall-work
                header.wall-header
                    .wall-title
                        h1 my credentials
                .wall-body
                    .wall-body-part.collection-generic
                        h6 education
                        p
                            | maecenas auctor efficitur libero, ac ullamcorper metus semper nec. donec dapibus nunc quis leo tempus, a porta est venenatis. praesent vitae nisl nec est tincidunt tempor id et leo. Nulla ac ultrices nisi, at venenatis neque. class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    .wall-body-part.collection-generic
                        h6 technical skills
                        p
                            | maecenas auctor efficitur libero, ac ullamcorper metus semper nec. donec dapibus nunc quis leo tempus, a porta est venenatis. praesent vitae nisl nec est tincidunt tempor id et leo. Nulla ac ultrices nisi, at venenatis neque. class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    .wall-body-part.collection-generic
                        h6 experience
                        p
                            | maecenas auctor efficitur libero, ac ullamcorper metus semper nec. donec dapibus nunc quis leo tempus, a porta est venenatis. praesent vitae nisl nec est tincidunt tempor id et leo. Nulla ac ultrices nisi, at venenatis neque. class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                footer.wall-footer
                    h3 sound good?
                    a.btn-main(href='/hire')
                        h1 hire me
