extends ../layouts/default

include ../mixins/components/cards

block appBody
    .app-body-part.wall-portfolio
        .wall-body
            each post, index in posts
                .wall-body-part
                    +cardPost(post)
