extends ../layouts/default

include ../mixins/components/cards
include ../mixins/media/chevron

block appBody
    .screen-blog
        .panel-filter
            .panel-body
                form#categories.form-main
                    .input-text
                        input#name-first(name='first' type='text', data-message='Please enter a valid first name.', required)
                        label.input-label(for="name-first")
                            .input-title
                                p First Name
                    .input-text
                        input#name-last(name='last' type='text', data-message='Please enter a valid last name.', required)
                        label.input-label(for="name-last")
                            .input-title
                                p Last Name
                    .input-text
                        input#email(name='email' type='email', data-message='Please enter a valid email address.', required)
                        label.input-label(for="email")
                            .input-title
                                p Email Address
                    .input-textarea
                        textarea#message(name='message' data-message='Please enter a valid message.', required)
                        label.input-label(for="message")
                            .input-title
                                p Message
            label.panel-header(for="filter")
                .wrapper
                    .panel-title
                        h1 blog
                    .tool-scroll
                        .tool-media
                            +chevron()
        .screen-body
            .wall-cards
                .wall-body
                    if posts
                        each post in posts
                            .wall-body-part
                                +cardPost(post)
                    else
                        p no posts
