extends ../layouts/default

block appBody
    .container-micro
        .container-header
            h1.container-title Your message has been sent!
            p.container-subtitle Check your inbox shortly for a confirmation message.
