extends ../layouts/default

block appBody
    .container-micro
        .container-header
            h1.container-title Your message has been sent
            p.container-subtitle I sent a confirmation email to your inbox, I'll be in touch shortly!
