extends ../layouts/default

include ../mixins/components/cards
include ../mixins/media/downarrow

block appBody
    .app-body-part.start
        .collection-shout
            h1 #{user.title}
            h2 #{user.subtitle}
