extends ../layouts/default

include ../mixins/components/cards
include ../mixins/layouts/screens
include ../mixins/media/chevron
include ../mixins/media/scroller

block appBody
    +screenPortfolio()

block js
    script.
        scrollAnimate('screenPortfolio', 'portfolioStart', 'portfolio');
        responsiveImages();
        loaderAnimate();
