extends ../layouts/default

include ../mixins/media/chevron
include ../mixins/media/circle

block appBody
    .screen-index
        .screen-body
            nav.menu-dock
                ul.menu-body
                    li.menu-body-part
                        p hello, my name is 
                            a.btn-main(href='/about') jacob&nbsp;fletcher.
                    li.menu-body-part
                        p i am a 
                            a.btn-main(href='/portfolio') creator&nbsp;of&nbsp;things.
                    li.menu-body-part
                        p i also 
                            a.btn-main(href='/blog') like&nbsp;to&nbsp;write
                    li.menu-body-part
                        p i am currently 
                            a.btn-main(href='/contact') available&nbsp;for&nbsp;work
                    li.menu-body-part
                        p feel free to 
                            a.btn-main(href='/contact') drop&nbsp;a&nbsp;line
                    li.menu-body-part
                        p oh, and i 
                            a.btn-main(href='/contact') sell&nbsp;stuff&nbsp;too
