extends ../layouts/default

include ../mixins/components/cards
include ../mixins/media/downarrow

block appBody
    .app-body-part.start
        .collection-landing
            h1 #{global.tagline.a}
            h2 #{global.tagline.b}
