extends ../layouts/default

include ../mixins/components/cards
include ../mixins/media/downarrow

block appBody
    .app-body-part.start
        .collection-landing
            h1
                if global.tagline.a
                    | #{global.tagline.a}
                else
                    | no tagline a
            h2
                if global.tagline.b
                    | #{global.tagline.b}
                else
                    | no tagline b
