extends ../layouts/default

include ../mixins/media/chevron
include ../mixins/media/circle

block appBody
    .container-micro
        .container-header
            .container-title
                h1
                    if global.tagline.a
                        | #{global.tagline.a}
                    else
                        | no tagline a
            .container-subtitle
                h2
                    if global.tagline.b
                        | #{global.tagline.b}
                    else
                        | no tagline b
                a.btn-main(href='/portfolio')
                    .btn-title
                        p portfolio >
