extends ../layouts/default

include ../mixins/components/cards
include ../mixins/media/downarrow

block appBody
    .container-micro
        .container-header
            h1.container-title
                if global.tagline.a
                    | #{global.tagline.a}
                else
                    | no tagline a
            h2.container-subtitle
                if global.tagline.b
                    | #{global.tagline.b}
                else
                    | no tagline b
