extends ../layouts/default

include ../mixins/components/cards
include ../mixins/layouts/screens
include ../mixins/media/chevron
include ../mixins/media/loader

block appBody
    +screenPortfolio()

block js
    script.
        scrollAnimate("panelPortfolio", "portfolioStart", "portfolio");
        document.getElementById("portfolio").checked = "true";
