extends ../layouts/default

include ../mixins/components/cards

block appBody
    .app-body-part.header
        h1 my portfolio
    .app-body-part.wall-cards
        .wall-body
            if projects
                each project in projects
                    .wall-body-part
                        +cardProject(project)
            else
                p no projects
