extends ../layouts/default

include ../mixins/components/cards
include ../mixins/media/chevron

block appBody
    .screen-portfolio
        .panel-filter
            .panel-body
                .panel-body-part
                    .panel-subtitle
                        h3 select all that apply
                .panel-body-part
                    form#categories.form-filters
                        each category in categories
                            .checkbox-main
                                input(id="category-" + category.key name="category-" + category.key type='checkbox' checked)
                                label.checkbox-label(for="category-" + category.key)
                                    .checkbox-input
                                        .wrapper
                                    .checkbox-title
                                        p #{category.key}
            label.panel-header(for="filter")
                .wrapper
                    .panel-title
                        h1 portfolio
                    .panel-subtitle
                        p filter
        .screen-body
            .wall-cards
                .wall-body
                    if projects
                        each project in projects
                            .wall-body-part
                                +cardProject(project)
                    else
                        p no projects
