extends ../layouts/default

include ../mixins/components/cards

block appBody
    .app-body-part.wall-work
        .wall-body
            each project, index in projects
                .wall-body-part
                    +cardProject(project)
