extends ../layouts/default

include ../mixins/components/cards

block appBody
    .app-body-part.wall-work
        header.wall-header
            .wall-title
                h1 my work
        .wall-body
            each project, index in projects
                .wall-body-part
                    +cardProject(project)
