extends ../layouts/default

include ../mixins/components/cards

block appBody
    .app-body-part.wall-shop
        header.wall-header
            .wall-title
                h1 my shop
        .wall-body
            if product
                each product in products
                    .wall-body-part
                        +cardProduct(product)
            else
                p no products
