extends ../layouts/default

include ../mixins/components/cards

block appBody
    .wall-work
        header.wall-header
            .wall-title
                h1 my shop
        .wall-body
            each product, index in products
                .wall-body-part
                    +cardProduct(product)
