extends ../layouts/default

include ../mixins/components/cards

block appBody
    .app-body-part.header
        h1 my blog
    .app-body-part.wall-shop
        .wall-body
            if product
                each product in products
                    .wall-body-part
                        +cardProduct(product)
            else
                p no products
