@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
@keyframes glitchImage {
  0% {
    transform: none; }
  1% {
    transform: translateX(3px); }
  3% {
    transform: none; }
  11% {
    transform: none; }
  12% {
    transform: skew(-2deg) translateX(-1px); }
  16% {
    transform: none; }
  61% {
    transform: none; }
  62% {
    transform: skew(-4deg); }
  63% {
    transform: none; }
  70% {
    transform: none; }
  71% {
    transform: skew(-3deg); }
  72% {
    transform: none; }
  76% {
    transform: none; }
  77% {
    transform: skew(-1deg) translateX(2px); }
  78% {
    transform: none; }
  100% {
    transform: none; } }

@keyframes glitchCyan {
  1% {
    transform: none; }
  2% {
    transform: skew(5deg); }
  3% {
    transform: none; }
  11% {
    transform: none; }
  12% {
    transform: skew(4deg); }
  16% {
    transform: none; }
  54% {
    transform: none; }
  62% {
    transform: skew(-6deg); }
  63% {
    transform: none; }
  70% {
    transform: none; }
  71% {
    transform: skew(-6deg); }
  72% {
    transform: none; }
  100% {
    transform: none; } }

@keyframes glitchMagenta {
  1% {
    transform: none; }
  2% {
    transform: skew(-5deg); }
  3% {
    transform: none; }
  11% {
    transform: none; }
  12% {
    transform: skew(-4deg); }
  16% {
    transform: none; }
  58% {
    transform: none; }
  63% {
    transform: skew(4deg); }
  64% {
    transform: none; }
  70% {
    transform: none; }
  71% {
    transform: skew(-3deg); }
  72% {
    transform: none; }
  76% {
    transform: none; }
  77% {
    transform: skew(-5deg); }
  78% {
    transform: none; }
  100% {
    transform: none; } }

.project-card {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  z-index: 3333; }
  @media only screen and (max-width: 767px) {
    .project-card {
      width: 100%; }
      .project-card:nth-child(odd) {
        margin-right: 0 !important; } }
  .project-card:hover .card-categories,
  .project-card:hover .card-client,
  .project-card:hover .card-title {
    font-weight: 900; }
  .project-card .card-index {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.875rem;
    line-height: 1.875rem; }
  .project-card .card-image {
    width: 75%;
    height: 50%;
    display: inline-block;
    margin-bottom: 1.125rem;
    align-self: center;
    position: relative; }
    .project-card .card-image a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .project-card .card-image a:hover, .project-card .card-image a:focus {
        animation: glitchImage 5s infinite; }
      .project-card .card-image a:hover ~ .image-glitch .cyan,
      .project-card .card-image a:focus ~ .image-glitch .cyan {
        animation: glitchCyan 5s infinite; }
      .project-card .card-image a:hover ~ .image-glitch .magenta,
      .project-card .card-image a:focus ~ .image-glitch .magenta {
        animation: glitchMagenta 5s infinite; }
    .project-card .card-image .image-glitch {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1; }
      .project-card .card-image .image-glitch .cyan,
      .project-card .card-image .image-glitch .magenta {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0; }
      .project-card .card-image .image-glitch .cyan {
        background-color: cyan; }
      .project-card .card-image .image-glitch .magenta {
        background-color: magenta; }
  .project-card .card-meta a {
    display: block; }
  .project-card .card-client {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900; }
  .project-card .card-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.5rem;
    line-height: 1.875rem;
    position: relative;
    display: inline-block;
    margin-top: 0.75rem;
    margin-bottom: 0.9375rem;
    white-space: normal;
    text-transform: lowercase;
    padding-right: 1.5rem; }
    @media only screen and (max-width: 319px) {
      .project-card .card-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.125rem;
        line-height: 1.875rem; } }
  .project-card .card-categories {
    display: flex;
    flex-wrap: wrap; }
  .project-card .card-category {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase; }
    .project-card .card-category::after {
      content: ', ';
      white-space: pre; }
    .project-card .card-category:last-child::after {
      content: ''; }
