@import "../../../sassafras/index.scss";

.screen-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &.error {
        .error-message {
            display: block;
        }
    }

    &.disabled {
        opacity: .25;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .screen-title {
        @include type(h3);
        margin-bottom: 0;
    }

    .form-contact {
        @include type(h3);
        width: 75%;
        margin: auto;
        padding: size(l) 0;

        @include breakpoint($size: s, $inherit: down) {
            width: 100%;
        }

        > * {
            display: inline;
        }
    }
}
