@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700");
.screen-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll; }
  .screen-contact .form-contact {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
    width: 75%;
    margin: auto;
    padding: 1.5rem 0; }
    @media only screen and (max-width: 463px) {
      .screen-contact .form-contact {
        width: 100%; } }
    .screen-contact .form-contact * {
      display: inline; }
    .screen-contact .form-contact button {
      display: block;
      margin-top: 1.875rem; }
  .screen-contact .screen-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin-bottom: 0; }
  .screen-contact .input {
    position: relative;
    font-weight: 900;
    white-space: nowrap; }
  .screen-contact .error-message {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.5625rem;
    line-height: 0.5625rem;
    margin: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    background-color: black;
    color: white;
    padding: 0.5625rem;
    white-space: nowrap; }
    .screen-contact .error-message:after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: 0;
      width: 0;
      height: 0;
      transform: translate(-50%, 100%);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid black; }
  .screen-contact .input-ruler {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    margin: 0; }
  .screen-contact input, .screen-contact select, .screen-contact .input-ruler {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 0;
    padding: 0;
    font-weight: 900;
    border-radius: 0; }
  .screen-contact input,
  .screen-contact select {
    color: inherit;
    border: 0;
    outline: none;
    border-bottom: dashed 2px black;
    background-color: transparent; }
    .screen-contact input::placeholder,
    .screen-contact select::placeholder {
      color: grey; }
    .screen-contact input.invalid,
    .screen-contact select.invalid {
      color: red;
      border-color: red; }
      .screen-contact input.invalid ~ .error-message,
      .screen-contact select.invalid ~ .error-message {
        display: block; }
  .screen-contact .input-select {
    padding-right: 0.9375rem; }
    .screen-contact .input-select:after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid black; }
    .screen-contact .input-select select {
      background-color: transparent;
      border-radius: 0;
      appearance: none;
      position: relative; }
  .screen-contact .form-footer {
    display: block; }
  .screen-contact .form-button {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    background-color: transparent;
    border: solid black 1px;
    color: black;
    text-transform: uppercase;
    padding: 0.5625rem 0.75rem;
    margin: 0;
    letter-spacing: 1px;
    cursor: pointer; }
    .screen-contact .form-button:disabled {
      opacity: .25; }
    .screen-contact .form-button:not:disabled:hover {
      background-color: black;
      color: white; }
