@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700");
html, body {
  height: 100%; }

body {
  font-family: "Source Code Pro", sans-serif;
  margin: 0; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }

button {
  outline: 0; }

.mount {
  height: 100%; }

.app {
  padding: 0.975rem;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 319px) {
    .app {
      padding: 0.8125rem; } }
  .app .app-body {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    padding: 0.975rem calc(0.975rem * 2); }
    @media only screen and (max-width: 319px) {
      .app .app-body {
        padding: 0.8125rem calc(0.8125rem * 2); } }
