@import "../../../sassafras/index.scss";

html, body {
    height: 100%;
}

body {
    font-family: font(body);
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
}

button {
    outline: 0;
}

.mount {
    height: 100%;
}

.app {
    padding: size(m);
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include breakpoint(xs) {
        padding: size(s);
    };
    .app-body {
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        padding: size(m) calc(#{size(m)} * 2);
        @include breakpoint(xs) {
            padding: size(s) calc(#{size(s)} * 2);
        };
    }
}
