@import "../../../sassafras/index.scss";

.form-contact {
	@include type(h3);
	width: 75%;
	margin: auto;
	padding: size(l) 0;
	position: relative;

	@include breakpoint($size: s, $inherit: down) {
		width: 100%;
	}

	&.disabled {
		opacity: .5;
	}

	&.error {
		.error-message {
			display: block;
		}
	}

	.overlay {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;

		&.hidden {
			display: none;
		}
	}

	> * {
		display: inline;
	}
}
