@import "../../../sassafras/index.scss";

.screen-article {
	overflow-x: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	.board-blockquote {
		margin: 0;
	}

	.board-quoteAuthor {
		@include type(p);
		text-transform: uppercase;
		font-weight: 900;
		font-style: normal;
		display: block;

		&::before {
			content: '-'
		}
	}

	.board-quote {
		@include type(p);
		text-transform: uppercase;
		background-color: yellow;
		display: inline;

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	.board-header {
		display: flex;
		flex-direction: column;
		background-color: white;
		padding-bottom: size(xxl);
		align-items: center;
	}

	.board-featured {
		width: 50%;
		height: 100%;
		padding-bottom: size(xxl);
	}

	.header-body {
		width: 75%;
		margin-top: size(xxl);
	}

	.board-title,
	.board-client,
	.board-categories {
		font-weight: 900;
	}

	.board-title {
		@include type(h1);
		text-transform: lowercase;
		margin-bottom: size(xl);
		margin-top: size(xl);
	}

	.board-client,
	.board-team {
		@include type(label);
		&::before {
			font-weight: 300;
		}
	}

	.board-client {
		margin-bottom: size(xxs);
		&::before {
			content: 'client: '
		}
	}

	.board-team {
		&::before {
			content: 'team: ';
			font-weight: 300;
		}

		a {
			position: relative;
			padding-left: size(m);
		}

		.team-icon {
			width: size(xs);
			height: size(xs);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			overflow: visible;

			line, polyline {
				stroke: black;
				fill: none;
				stroke-width: line(xs);
			}
		}
	}

	.board-brief {
		@include type(h3);
		margin: size(xl) 0;
	}

	.list-title {
		@include type(h4);
		text-transform: uppercase;
		&::after {
			content: ': ';
			white-space: pre;
		}
	}

	.board-categories {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		align-items: center;
	}

	.board-category {
		@include type(label);
		position: relative;
		margin-right: size(xxs);
		background-color: white;
		color: black;
		padding: line(m) size(xs);
		padding-left: size(l);
		text-transform: uppercase;
		border: line(xxs) solid black;
		cursor: pointer;

		&:hover {
			background-color: black;
			color: white;
			&::after {
				background-color: white;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&::after {
			content: '';
			position: absolute;
			left: size(xxs);
			top: 50%;
			transform: translateY(-50%);
			background-color: black;
			width: line(l);
			height: line(l);
			border-radius: 100%;
		}
	}

	.board-tags {
		@include type(h4);
		display: flex;
		list-style: none;
		text-transform: uppercase;
		flex-wrap: wrap;
		align-items: center;
		.board-tag {
			&::after {
				content: ', ';
				white-space: pre;
			}
			&:last-child {
				&::after {
					content: '';
				}
			}
		}
	}

	.board-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: size(xxl);
	}

	.board-gallery {
		width: 50%;
		.gallery-item {
			list-style: none;
		}
		.board-image {
			width: 100%;
		}
	}

	.board-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: solid line(m) black;
		margin-top: size(m);
		padding-top: size(m);
	}

	.board-hashtags {
		@include type(label);
		width: 75%;
		font-weight: 100;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		&::after {
			content: ', ';
			white-space: pre;
		}

		&:last-child {
			&::after {
				content: '';
			}
		}

		.list-title {
			@include type(label);
			font-weight: 900;
		}
	}
}
