mixin chevron()
    svg(width="8px" height="10px" viewBox="0 0 8 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g#Symbols(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
            g(id="Icon-/-Chevron-/-Light-1" transform="translate(-4.000000, -3.000000)" fill="#ffffff")
                polygon(points="4 3 11.7345908 8 4 13")
