mixin expand()
    svg(width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
            polyline(points="2 20 2 30 12 30")
            polyline(points="2 12 2 2 12 2")
            polyline(points="20 30 30 30 30 20")
            polyline(points="30 12 30 2 20 2")
