mixin grid()
    svg(width="58px" height="58px" viewBox="0 0 58 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g#grid(fill="#000000")
            rect#Rectangle(x="0" y="0" width="14" height="14")
            rect#Rectangle(x="0" y="22" width="14" height="14")
            rect#Rectangle(x="22" y="22" width="14" height="14")
            rect#Rectangle(x="22" y="44" width="14" height="14")
            rect#Rectangle(x="44" y="22" width="14" height="14")
            rect#Rectangle(x="0" y="44" width="14" height="14")
            rect#Rectangle(x="44" y="0" width="14" height="14")
            rect#Rectangle(x="22" y="0" width="14" height="14")
