mixin lightSwitch()
    svg(width='24px', height='48px', viewbox='0 0 24 48', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        polygon(points='2 46 16 46 22 10 16 2 2 2')
        polygon.fill(points='2 2 2 46 8 10')
        path(d='M8,11 L22,11')
