mixin lightSwitch()
    xml(version="1.0" encoding="UTF-8")
    svg(viewBox="0 0 32 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
            path(d="M2,54 L19.4218724,54 L29.7798927,10.6846423 L20.2267863,2 L2,2 L2,54 Z")
            path(d="M2,4.52110341 L2,54 L2.28132346,54 L8.86150123,10.7588318 L2,4.52110341 Z")
            path(d="M9,11 L30,11")
