@import "../../sassafras/index.scss";

.project-thumbnail {
    margin-right: size(m);
    height: 100%;
    display: inline-flex;

    &:last-child {
        margin-right: 0;
    }
    a {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        color: color(light, 1);
    }
    .thumbnail-image {
        height: 100%;
        transform: translateZ(0);
        display: inline-block;
        min-width: 100%;
    }
    .thumbnail-meta {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: size(m);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .thumbnail-title {

        }
        .thumbnail-subtitle {

        }
    }
}
