@import "../../../sassafras/index.scss";

.button-form {
	@include type(h4);
	display: flex;
	font-weight: 700;
	text-transform: uppercase;
	background-color: transparent;
	border: solid 1px;
	border-color: currentColor;
	color: inherit;
	text-transform: uppercase;
	padding: size(xxs) size(xs);
	margin: 0;
	letter-spacing: line(xxs);
	cursor: pointer;
	align-items: center;

	&.simple {
		border: none;
		padding: 0;
	}

	&.sending {
		color: grey;
		border-color: grey;
	}

	&.sent {
		color: green;
		&::before {
			content: '';
			margin-right: size(xs);
			display: inline-block;
			width: line(m);
			height: size(xxs);
			border: solid green;
			border-width: 0 line(s) line(s) 0;
			transform: rotate(45deg);
		}
	}

	&.error {
		color: red;
	}
}
