@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.screen-footer {
  display: flex;
  border-top: solid black 4px;
  width: 75%;
  margin: auto;
  box-sizing: border-box;
  padding: 9rem 0;
  flex-direction: column; }
  .screen-footer > *:first-child {
    margin-bottom: 1.125rem; }
