@import "../../../sassafras/index.scss";

.screen-footer {
	display: flex;
	border-top: solid black line(m);
	width: 75%;
	margin: auto;
	box-sizing: border-box;
	padding: baseline(6) 0;
	flex-direction: column;

	> *:first-child {
		margin-bottom: size(m);
	}
}
