@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.screen-categories {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center; }
  .screen-categories .list-item {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    position: relative;
    margin-right: 0.5625rem;
    background-color: white;
    color: black;
    padding-left: 0.9375rem;
    text-transform: uppercase;
    cursor: pointer; }
    .screen-categories .list-item:last-child {
      margin-right: 0; }
    .screen-categories .list-item::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: black;
      width: 5px;
      height: 5px;
      border-radius: 100%; }
