@import "../../../sassafras/index.scss";

.screen-categories {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;

	.list-item {
		@include type(label);
		position: relative;
		margin-right: size(xxs);
		background-color: white;
		color: black;
		padding-left: size(s);
		text-transform: uppercase;
		cursor: pointer;

		&:hover {}

		&:last-child {
			margin-right: 0;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: black;
			width: line(l);
			height: line(l);
			border-radius: 100%;
		}
	}
}
