@import "../../../sassafras/index.scss";

.screen-article {
	overflow-x: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	.screen-blockquote {
		margin: 0;
	}

	.screen-quoteAuthor {
		@include type(p);
		text-transform: uppercase;
		font-weight: 900;
		font-style: normal;
		display: block;

		&::before {
			content: '-'
		}
	}

	.screen-quote {
		@include type(p);
		text-transform: uppercase;
		background-color: yellow;
		display: inline;

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	.screen-header {
		display: flex;
		flex-direction: column;
		background-color: white;
		padding-bottom: size(xxl);
		align-items: center;
	}

	.screen-featured {
		width: 50%;
		height: 100%;
		padding-bottom: size(xxl);
	}

	.header-body {
		width: 75%;
		margin-top: size(xxl);
	}

	.screen-title,
	.screen-client,
	.screen-categories {
		font-weight: 900;
	}

	.screen-title {
		@include type(h1);
		text-transform: lowercase;
		margin-bottom: size(xl);
		margin-top: size(xl);
	}

	.screen-client,
	.screen-team {
		@include type(label);
		&::before {
			font-weight: 300;
		}
	}

	.screen-client {
		margin-bottom: size(xxs);
		&::before {
			content: 'client: '
		}
	}

	.screen-team {
		&::before {
			content: 'team: ';
			font-weight: 300;
		}

		a {
			position: relative;
			padding-left: size(m);
		}

		.team-icon {
			width: size(xs);
			height: size(xs);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			overflow: visible;

			line, polyline {
				stroke: black;
				fill: none;
				stroke-width: line(xs);
			}
		}
	}

	.screen-brief {
		@include type(h3);
		margin: size(xl) 0;
	}

	.list-title {
		@include type(h4);
		text-transform: uppercase;
		&::after {
			content: ': ';
			white-space: pre;
		}
	}

	.screen-tags {
		@include type(h4);
		display: flex;
		list-style: none;
		text-transform: uppercase;
		flex-wrap: wrap;
		align-items: center;
		.screen-tag {
			&::after {
				content: ', ';
				white-space: pre;
			}
			&:last-child {
				&::after {
					content: '';
				}
			}
		}
	}

	.screen-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: size(xxl);
		width: 75%;
		margin: auto;

		@include breakpoint($size: s, $inherit: down) {
			width: 100%;
		}
	}

	.screen-gallery {
		width: 50%;
		.gallery-item {
			list-style: none;
		}
		.screen-image {
			width: 100%;
		}
	}

}
