@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.screen-article {
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch; }
  .screen-article::-webkit-scrollbar {
    display: none; }
  .screen-article .screen-blockquote {
    margin: 0; }
  .screen-article .screen-quoteAuthor {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    display: block; }
    .screen-article .screen-quoteAuthor::before {
      content: '-'; }
  .screen-article .screen-quote {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    background-color: yellow;
    display: inline; }
    .screen-article .screen-quote::before {
      content: open-quote; }
    .screen-article .screen-quote::after {
      content: close-quote; }
  .screen-article .screen-header {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 3rem;
    align-items: center; }
  .screen-article .screen-featured {
    width: 50%;
    height: 100%;
    padding-bottom: 3rem; }
  .screen-article .header-body {
    width: 75%;
    margin-top: 3rem; }
  .screen-article .screen-title,
  .screen-article .screen-client,
  .screen-article .screen-categories {
    font-weight: 900; }
  .screen-article .screen-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.875rem;
    line-height: 1.875rem;
    text-transform: lowercase;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem; }
  .screen-article .screen-client,
  .screen-article .screen-team {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900; }
    .screen-article .screen-client::before,
    .screen-article .screen-team::before {
      font-weight: 300; }
  .screen-article .screen-client {
    margin-bottom: 0.5625rem; }
    .screen-article .screen-client::before {
      content: 'client: '; }
  .screen-article .screen-team::before {
    content: 'team: ';
    font-weight: 300; }
  .screen-article .screen-team a {
    position: relative;
    padding-left: 1.125rem; }
  .screen-article .screen-team .team-icon {
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: visible; }
    .screen-article .screen-team .team-icon line, .screen-article .screen-team .team-icon polyline {
      stroke: black;
      fill: none;
      stroke-width: 2px; }
  .screen-article .screen-brief {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 1.875rem 0; }
  .screen-article .list-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    text-transform: uppercase; }
    .screen-article .list-title::after {
      content: ': ';
      white-space: pre; }
  .screen-article .screen-tags {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    flex-wrap: wrap;
    align-items: center; }
    .screen-article .screen-tags .screen-tag::after {
      content: ', ';
      white-space: pre; }
    .screen-article .screen-tags .screen-tag:last-child::after {
      content: ''; }
  .screen-article .screen-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    width: 75%;
    margin: auto; }
    @media only screen and (max-width: 463px) {
      .screen-article .screen-body {
        width: 100%; } }
  .screen-article .screen-gallery {
    width: 50%; }
    .screen-article .screen-gallery .gallery-item {
      list-style: none; }
    .screen-article .screen-gallery .screen-image {
      width: 100%; }
