@import "../../../sassafras/index.scss";

.dock {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    left: 0;
    top: 0;
    position: fixed;
    z-index: layer(top);

    &.docked {
        display: flex;
        padding: calc(#{size(m)} * 3);

        &.cyan {
            color: black;
            background-color: cyan;

            .menu-item a {
                color: white;
                background-color: black;
                outline-color: black;
                &:hover {
                    color: black;
                }
            }

            & ~ * {
                color: black;
                .swatch-cyan::after {
                    border: black line(m) solid;
                }
            }
        }
        &.magenta {
            background-color: magenta;
            color: white;

            .menu-item a {
                color: black;
                background-color: white;
                outline-color: white;
                &:hover {
                    color: white;
                }
            }

            & ~ * {
                color: white;
                .swatch-magenta::after {
                    border: white line(m) solid;
                }
            }
        }
        &.yellow {
            background-color: yellow;
            color: black;

            .menu-item a {
                color: white;
                background-color: black;
                outline-color: black;
                &:hover {
                    color: black;
                }
            }

            & ~ * {
                color: black;
                .swatch-yellow::after {
                    border: black line(m) solid;
                }
            }
        }

        &.black {
            background-color: black;
            color: white;
            .dock-menu a {
                color: black;
                background-color: white;
                outline-color: white;
                &:hover {
                    color: white;
                }
            }
            & ~ * {
                color: white;
                .swatch-black::after {
                    border: white line(m) solid;
                }
            }
        }
    }

    .dock-menu {
        color: inherit;
        text-transform: lowercase;
        margin-bottom: size(m);

        ul {
            list-style: none;
            @include breakpoint($size: short) {
                display: inline-flex;
                flex-wrap: wrap;
            }
        }

        .menu-item {
            margin-bottom: size(m);
            color: inherit;
            display: flex;

            &:last-child {
                margin-bottom: 0;
            }

            @include breakpoint($size: short) {
                display: inline-flex;
                margin: size(xxs) 0;
                margin-right: size(m);
                &:last-child {
                    margin-bottom: size(xxs);
                    margin-right: 0;
                }
            }

            a {
                @include type(label);
                color: inherit;
                background-color: inherit;
                padding: line(m) size(xs);
                cursor: pointer;
                outline: solid line(xxs);

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    .dock-submenu {

    }
}
