@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.dock {
  display: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 8888; }
  .dock.docked {
    display: flex;
    padding: calc(1.125rem * 3); }
    .dock.docked.cyan {
      color: black;
      background-color: cyan; }
      .dock.docked.cyan .menu-item a {
        color: white;
        background-color: black;
        outline-color: black; }
        .dock.docked.cyan .menu-item a:hover {
          color: black; }
      .dock.docked.cyan ~ * {
        color: black; }
        .dock.docked.cyan ~ * .swatch-cyan::after {
          border: black 4px solid; }
    .dock.docked.magenta {
      background-color: magenta;
      color: white; }
      .dock.docked.magenta .menu-item a {
        color: black;
        background-color: white;
        outline-color: white; }
        .dock.docked.magenta .menu-item a:hover {
          color: white; }
      .dock.docked.magenta ~ * {
        color: white; }
        .dock.docked.magenta ~ * .swatch-magenta::after {
          border: white 4px solid; }
    .dock.docked.yellow {
      background-color: yellow;
      color: black; }
      .dock.docked.yellow .menu-item a {
        color: white;
        background-color: black;
        outline-color: black; }
        .dock.docked.yellow .menu-item a:hover {
          color: black; }
      .dock.docked.yellow ~ * {
        color: black; }
        .dock.docked.yellow ~ * .swatch-yellow::after {
          border: black 4px solid; }
    .dock.docked.black {
      background-color: black;
      color: white; }
      .dock.docked.black .dock-menu a {
        color: black;
        background-color: white;
        outline-color: white; }
        .dock.docked.black .dock-menu a:hover {
          color: white; }
      .dock.docked.black ~ * {
        color: white; }
        .dock.docked.black ~ * .swatch-black::after {
          border: white 4px solid; }
  .dock .dock-menu {
    color: inherit;
    text-transform: lowercase; }
    .dock .dock-menu ul {
      list-style: none; }
      @media only screen and (max-height: 320px) {
        .dock .dock-menu ul {
          display: inline-flex;
          flex-wrap: wrap; } }
    .dock .dock-menu .menu-item {
      margin-bottom: 1.125rem;
      color: inherit;
      display: flex; }
      .dock .dock-menu .menu-item:last-child {
        margin-bottom: 0; }
      @media only screen and (max-height: 320px) {
        .dock .dock-menu .menu-item {
          display: inline-flex;
          margin: 0.5625rem 0;
          margin-right: 1.125rem; }
          .dock .dock-menu .menu-item:last-child {
            margin-bottom: 0.5625rem;
            margin-right: 0; } }
      .dock .dock-menu .menu-item a {
        font-family: "Source Code Pro", sans-serif;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        margin: 0;
        color: inherit;
        background-color: inherit;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 4px 0.75rem;
        cursor: pointer;
        outline: solid 1px; }
        .dock .dock-menu .menu-item a:hover {
          background-color: transparent; }
