.screen-portfolio {
	flex-grow: 1;
	overflow: hidden;
	overflow-x: scroll;
	position: relative;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;

	&.touchable {
		overflow: hidden;
		overflow-y: scroll;
		> * {
			display: flex;
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}
}
