.screen-portfolio {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}
