.screen-blog {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}
