html {
  font-family: monospace; }

body {
  margin: 0; }

button {
  outline: none;
  border: 0;
  padding: 0;
  background-color: transparent; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.app {
  padding: 15px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .app .app-body {
    flex-grow: 1;
    padding: 15px 30px; }

.app-header,
.app-footer {
  height: 15px;
  display: flex;
  z-index: 1; }
  .app-header *,
  .app-footer * {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .app-header .header-title,
  .app-header .footer-title,
  .app-footer .header-title,
  .app-footer .footer-title {
    flex-grow: 1;
    margin-left: 15px; }
  .app-header .footer-subtitle,
  .app-footer .footer-subtitle {
    margin-right: 15px; }

.cropmark {
  box-sizing: border-box;
  border: solid currentColor 4px;
  width: 15px;
  height: 15px; }

.app-header .cropmark:first-child {
  border-left: 0;
  border-top: 0; }

.app-header .cropmark:last-child {
  border-right: 0;
  border-top: 0; }

.app-footer .cropmark:last-child {
  border-right: 0;
  border-bottom: 0; }

.app-footer .cropmark:first-child {
  border-left: 0;
  border-bottom: 0; }

.swatches {
  display: flex;
  justify-content: flex-end; }

[class^=swatch-] {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  background-color: transparent; }
  [class^=swatch-]:hover::after {
    transform: translateY(-25%); }
  [class^=swatch-]::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box; }

.swatch-cyan::after {
  background-color: cyan; }

.swatch-magenta::after {
  background-color: magenta; }

.swatch-black::after {
  background-color: black; }

.swatch-yellow::after {
  background-color: yellow; }

.dock {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  padding: 40px;
  left: 0;
  top: 0;
  display: none;
  position: fixed; }
  .dock.docked {
    display: flex; }
    .dock.docked.cyan {
      background-color: cyan; }
      .dock.docked.cyan ~ * {
        color: black; }
        .dock.docked.cyan ~ * .swatch-cyan::after {
          border: black 4px solid; }
    .dock.docked.magenta {
      background-color: magenta; }
      .dock.docked.magenta ~ * {
        color: white; }
        .dock.docked.magenta ~ * .swatch-magenta::after {
          border: white 4px solid; }
    .dock.docked.yellow {
      background-color: yellow; }
      .dock.docked.yellow ~ * {
        color: black; }
        .dock.docked.yellow ~ * .swatch-yellow::after {
          border: black 4px solid; }
    .dock.docked.black {
      background-color: black; }
      .dock.docked.black ~ * {
        color: white; }
        .dock.docked.black ~ * .swatch-black::after {
          border: white 4px solid; }
