@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900");
.dock {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  padding: calc(0.975rem * 2);
  left: 0;
  top: 0;
  display: none;
  position: fixed;
  z-index: 1; }
  .dock.docked {
    display: flex; }
    .dock.docked.cyan {
      background-color: cyan; }
      .dock.docked.cyan ~ * {
        color: black; }
        .dock.docked.cyan ~ * .swatch-cyan::after {
          border: black 4px solid; }
    .dock.docked.magenta {
      background-color: magenta; }
      .dock.docked.magenta ~ * {
        color: white; }
        .dock.docked.magenta ~ * .swatch-magenta::after {
          border: white 4px solid; }
    .dock.docked.yellow {
      background-color: yellow; }
      .dock.docked.yellow ~ * {
        color: black; }
        .dock.docked.yellow ~ * .swatch-yellow::after {
          border: black 4px solid; }
    .dock.docked.black {
      background-color: black; }
      .dock.docked.black ~ * {
        color: white; }
        .dock.docked.black ~ * .swatch-black::after {
          border: white 4px solid; }
