.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  max-width: 900px;
  padding: 0 1rem;
}

.wave {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem
}

.heading {
  margin-bottom: 1rem;
}

.sponsor {
  margin: auto;
  opacity: 0.25;
  margin-bottom: 1rem;
  font-weight: normal;
}
