@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.input {
  position: relative;
  font-weight: 900;
  white-space: nowrap; }
  .input .error-message {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.5625rem;
    line-height: 0.5625rem;
    text-transform: uppercase;
    margin: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    padding-left: 0.9375rem;
    white-space: nowrap;
    color: red; }
    .input .error-message::before, .input .error-message::after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 0.5625rem;
      height: 2px;
      background-color: red; }
    .input .error-message::before {
      transform: rotate(45deg) translate(-1px, -50%); }
    .input .error-message::after {
      transform: rotate(-45deg) translate(1px, -50%); }
    .input .error-message.active {
      display: block; }
  .input .input-ruler {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    margin: 0; }
  .input input,
  .input select,
  .input .input-ruler {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 0;
    padding: 0;
    font-weight: 900;
    border-radius: 0; }
  .input input,
  .input select {
    color: inherit;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: dashed 2px currentColor; }
    .input input:-webkit-autofill, .input input:-webkit-autofill:hover, .input input:-webkit-autofill:focus,
    .input select:-webkit-autofill,
    .input select:-webkit-autofill:hover,
    .input select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s; }
    .input input::placeholder,
    .input select::placeholder {
      color: grey; }
    .input input.invalid,
    .input select.invalid {
      color: red;
      border-color: red; }
  .input .input-select {
    padding-right: 0.9375rem; }
    .input .input-select:after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid black; }
    .input .input-select select {
      background-color: transparent;
      border-radius: 0;
      appearance: none;
      position: relative; }
  .input .form-footer {
    display: block; }
  .input .form-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .input.simple input,
  .input.simple select {
    border-bottom: none; }
