@import "../../../sassafras/index.scss";

.input {
	position: relative;
	font-weight: 900;
	white-space: nowrap;

	.error-message {
		@include type(fine);
		text-transform: uppercase;
		margin: 0;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-100%);
		padding-left: size(s);
		white-space: nowrap;
		color: red;

		&::before,
		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			width: size(xxs);
			height: line(xs);
			background-color: red;
		}
		&::before {
			transform: rotate(45deg) translate(-#{line(xs) / 2}, -50%);
		}
		&::after {
			transform: rotate(-45deg) translate(#{line(xs) / 2}, -50%);
		}
		&.active {
			display: block;
		}
	}

	.input-ruler {
		position: absolute;
		visibility: hidden;
		left: 0;
		top: 0;
		margin: 0;
	}

	input, select, .input-ruler {
		@include type(h3);
		margin: 0;
		padding: 0;
		font-weight: 900;
		border-radius: 0;
	}

	input,
	select {
		color: inherit;
		border: 0;
		outline: none;
		border-bottom: dashed 2px currentColor;
		background-color: transparent;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			-webkit-box-shadow: 0 0 0px 1000px transparent inset;
			transition: background-color 5000s ease-in-out 0s;
		}
		&::placeholder {
			color: grey;
		}
		&.invalid {
			color: red;
			border-color: red;
		}
	}

	.input-select {
		padding-right: size(s);
		&:after {
			position: absolute;
			content: '';
			right: 0;
			top: 50%;
			width: 0;
			height: 0;
			border-left: line(m) solid transparent;
			border-right: line(m) solid transparent;
			border-top: line(l) solid black;
		}
		select {
			background-color: transparent;
			border-radius: 0;
			appearance: none;
			position: relative;
		}
	}

	.form-footer {
		display: block;
	}

	.form-subscribe {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}
