@import "../../../sassafras/index.scss";

.icon-arrow {
	stroke-width: line(xs);
	fill: none;
	stroke: black;
	width: size(l);
	cursor: pointer;
	overflow: visible;
	// align-self: flex-start;

	&:hover .arrow-head {
		transform: translateX(size(m));
	}

	line,
	polyline {
		vector-effect: non-scaling-stroke;
	}
}
