@import "../../../sassafras/index.scss";

.scroll-progress  {
	height: size(m);
	display: flex;
	position: absolute;
	transform: rotate(90deg);
	transform-origin: top left;
	margin-left: size(m);

	@include breakpoint(xs) {
		width: size(s);
	}
}
