@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.scroll-progress {
  height: 1.125rem;
  display: flex;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 1.125rem; }
  @media only screen and (max-width: 319px) {
    .scroll-progress {
      width: 0.9375rem; } }
