@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.footer-breadcrumbs {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  transform: rotate(-90deg);
  transform-origin: left top;
  height: 100%;
  align-items: center;
  padding-left: 1.125rem; }
  .footer-breadcrumbs ul {
    display: flex; }
    .footer-breadcrumbs ul .list-item {
      display: inline-flex; }
      .footer-breadcrumbs ul .list-item a:hover {
        font-weight: 200; }
      @media only screen and (max-height: 320px) {
        .footer-breadcrumbs ul .list-item {
          display: none; }
          .footer-breadcrumbs ul .list-item:first-child {
            display: inline-flex; } }
      .footer-breadcrumbs ul .list-item::before {
        content: ' / ';
        white-space: pre; }
      .footer-breadcrumbs ul .list-item:first-child::before {
        content: ''; }
