@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.form-subscribe {
  text-align: center;
  display: flex;
  position: relative;
  align-items: center; }
  .form-subscribe > *:first-child {
    margin-right: 1.125rem; }
  .form-subscribe.disabled {
    opacity: .5; }
  .form-subscribe.white {
    color: white; }
    .form-subscribe.white .error-message {
      color: white; }
      .form-subscribe.white .error-message::before, .form-subscribe.white .error-message::after {
        background-color: white; }
    .form-subscribe.white input:-webkit-autofill, .form-subscribe.white input:-webkit-autofill:hover, .form-subscribe.white input:-webkit-autofill:focus, .form-subscribe.white select:-webkit-autofill, .form-subscribe.white select:-webkit-autofill:hover, .form-subscribe.white select:-webkit-autofill:focus {
      -webkit-text-fill-color: white; }
    .form-subscribe.white .invalid {
      color: white;
      border-color: white; }
  .form-subscribe.error .error-message {
    display: block; }
  .form-subscribe .overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .form-subscribe .overlay.hidden {
      display: none; }
