doctype html
html
    body
        p Hello, #{first} #{last}!
        p Thanks for reaching out to me!
        p This is a confirmation that your message has made its way into my inbox. I will be in touch shortly!
        p Regards,
        p Jacob Fletcher
