doctype html
html
	body
		p Hello, #{email}!
		p Thanks you for subscribing!
		p I don't email my subscribers much, when I do i'll always make sure its worth your time. And if you don't care much for my content, simply unscribe and there'll be no hard feelings.
		p Regards,
		p Jacob Fletcher
