@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900");
.project-thumbnail {
  margin-right: 0.975rem;
  height: 100%;
  display: inline-flex; }
  .project-thumbnail:last-child {
    margin-right: 0; }
  .project-thumbnail a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    color: #fcfcfc; }
  .project-thumbnail .thumbnail-image {
    height: 100%;
    transform: translateZ(0);
    display: inline-block;
    min-width: 100%; }
  .project-thumbnail .thumbnail-meta {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0.975rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
