@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.article-card {
  position: relative;
  display: flex;
  color: black;
  background-color: white;
  padding: 1.5rem 0;
  border-bottom: black 1px dashed;
  flex-direction: column; }
  .article-card > * {
    margin-bottom: 1.125rem;
    align-self: flex-start; }
    .article-card > *:last-child {
      margin-bottom: 0; }
  .article-card:first-child {
    padding-top: 0; }
  .article-card:last-child {
    border-bottom: none;
    padding-bottom: 0; }
  .article-card .card-date {
    display: block; }
  .article-card .card-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.5rem;
    line-height: 1.875rem;
    position: relative;
    display: inline-block;
    white-space: normal;
    text-transform: lowercase; }
    @media only screen and (max-width: 319px) {
      .article-card .card-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.125rem;
        line-height: 1.875rem; } }
