@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.article-card {
  position: relative;
  display: flex;
  color: black;
  background-color: white;
  margin: 1.125rem 0; }
  .article-card .card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33%;
    height: 100%; }
  .article-card .card-date {
    display: block; }
  .article-card .card-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.5rem;
    line-height: 1.875rem;
    position: relative;
    display: inline-block;
    margin-top: 0.75rem;
    margin-bottom: 0.9375rem;
    white-space: normal;
    text-transform: lowercase; }
    @media only screen and (max-width: 319px) {
      .article-card .card-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.125rem;
        line-height: 1.875rem; } }
