@import "../../../sassafras/index.scss";

.article-card {
	position: relative;
	display: flex;
	color: black;
	background-color: white;
	margin: size(m) 0;

	.card-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 33%;
		height: 100%;
	}

	.card-date {
		display: block;
	}

	.card-title {
		@include type(h2);
		position: relative;
		display: inline-block;
		margin-top: size(xs);
		margin-bottom: size(s);
		white-space: normal;
		text-transform: lowercase;
		@include breakpoint($size:xs) {
			@include type(h3);
		}
	}
}
