@import "../../../sassafras/index.scss";

.article-card {
	position: relative;
	display: flex;
	color: black;
	background-color: white;
	padding: size(l) 0;
	border-bottom: black line(xxs) dashed;
	flex-direction: column;

	> * {
		margin-bottom: size(m);
		align-self: flex-start;
		&:last-child {
			margin-bottom: 0;
		}

	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	.card-date {
		display: block;
	}

	.card-title {
		@include type(h2);
		position: relative;
		display: inline-block;
		white-space: normal;
		text-transform: lowercase;

		@include breakpoint($size: xs) {
			@include type(h3);
		}
	}
}
