@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.menu-social {
  padding: 1.5rem 0 1.875rem 0; }
  .menu-social ul {
    list-style: none;
    flex-wrap: wrap;
    text-align: center; }
    .menu-social ul .menu-item {
      display: inline-flex;
      margin-right: 0.9375rem; }
      .menu-social ul .menu-item:last-child {
        margin-right: 0; }
