@import "../../../sassafras/index.scss";

.menu-social {
	padding: size(l) 0 size(xl) 0;
	ul {
		list-style: none;
		flex-wrap: wrap;
		text-align: center;

		.menu-item {
			display: inline-flex;
			margin-right: size(s);
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
