@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700");
.screen-project {
  overflow-x: hidden;
  position: relative; }
  .screen-project::-webkit-scrollbar {
    display: none; }
  .screen-project .board-blockquote {
    margin: 0.975rem 0; }
    .screen-project .board-blockquote .board-quote {
      font-family: "Source Code Pro", sans-serif;
      font-size: 0.65rem;
      line-height: 0.65rem;
      margin: 0;
      text-transform: uppercase; }
      .screen-project .board-blockquote .board-quote::before {
        content: open-quote; }
      .screen-project .board-blockquote .board-quote::after {
        content: close-quote; }
    .screen-project .board-blockquote .board-quoteAuthor {
      font-family: "Source Code Pro", sans-serif;
      font-size: 0.65rem;
      line-height: 0.65rem;
      margin: 0;
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal; }
      .screen-project .board-blockquote .board-quoteAuthor::before {
        content: '-'; }
  .screen-project .board-header {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 0.975rem; }
  .screen-project .board-image {
    width: 100%;
    margin-bottom: 0.975rem; }
  .screen-project .board-title,
  .screen-project .board-client,
  .screen-project .board-categories {
    font-weight: 900; }
  .screen-project .board-client::before {
    content: 'client: '; }
  .screen-project .board-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0.8125rem;
    margin-top: 0.65rem; }
  .screen-project .board-client {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.65rem;
    line-height: 0.65rem;
    margin: 0;
    text-transform: uppercase; }
  .screen-project .board-brief {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.8125rem;
    line-height: 0.8125rem; }
  .screen-project .list-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    text-transform: uppercase; }
    .screen-project .list-title::after {
      content: ': ';
      white-space: pre; }
  .screen-project .board-meta {
    border: black 4px;
    border-top-style: dashed;
    border-bottom-style: solid;
    padding: 0.975rem 0; }
    .screen-project .board-meta > * {
      margin-bottom: 0.8125rem; }
      .screen-project .board-meta > *:last-child {
        margin-bottom: 0; }
    .screen-project .board-meta .board-categories {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      align-items: center; }
      .screen-project .board-meta .board-categories .board-category {
        font-family: "Source Code Pro", sans-serif;
        font-size: 0.65rem;
        line-height: 0.65rem;
        margin: 0;
        letter-spacing: 1px;
        margin-right: 0.4875rem;
        background-color: black;
        color: white;
        padding: 4px 0.65rem;
        text-transform: uppercase;
        cursor: pointer; }
        .screen-project .board-meta .board-categories .board-category:last-child {
          margin-right: 0; }
    .screen-project .board-meta .board-tags {
      font-family: "Source Code Pro", sans-serif;
      font-size: 0.8125rem;
      line-height: 0.8125rem;
      display: flex;
      list-style: none;
      text-transform: uppercase;
      flex-wrap: wrap;
      align-items: center; }
      .screen-project .board-meta .board-tags .board-tag::after {
        content: ', ';
        white-space: pre; }
      .screen-project .board-meta .board-tags .board-tag:last-child::after {
        content: ''; }
    .screen-project .board-meta .board-team {
      font-family: "Source Code Pro", sans-serif;
      font-size: 0.8125rem;
      line-height: 0.8125rem;
      display: flex;
      align-items: center; }
      .screen-project .board-meta .board-team .team-link {
        text-transform: uppercase; }
        .screen-project .board-meta .board-team .team-link::before {
          content: '[ '; }
        .screen-project .board-meta .board-team .team-link::after {
          content: ' ]'; }
  .screen-project .board-body {
    background-color: white; }
  .screen-project .board-gallery .board-image {
    width: 100%; }
  .screen-project .board-footer {
    border-top: solid 4px black;
    margin-top: 0.975rem;
    padding-top: 0.975rem; }
  .screen-project .board-hashtags {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    font-weight: 100;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase; }
    .screen-project .board-hashtags::after {
      content: ', ';
      white-space: pre; }
    .screen-project .board-hashtags:last-child::after {
      content: ''; }
