@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.screen-project {
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch; }
  .screen-project::-webkit-scrollbar {
    display: none; }
  .screen-project .screen-blockquote {
    margin: 0; }
  .screen-project .screen-quoteAuthor {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    display: block;
    margin-top: 0.5625rem; }
  .screen-project .screen-quote {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    background-color: yellow;
    display: inline; }
    .screen-project .screen-quote::before {
      content: open-quote; }
    .screen-project .screen-quote::after {
      content: close-quote; }
  .screen-project .screen-header {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 3rem;
    align-items: center; }
  .screen-project .screen-featured {
    width: 50%;
    height: 100%;
    padding-bottom: 3rem; }
  .screen-project .header-body {
    width: 75%;
    margin-top: 3rem;
    position: relative; }
  .screen-project .screen-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 4px;
    background-color: black;
    padding-bottom: 1.5rem; }
    .screen-project .screen-arrow::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 1.125rem;
      height: 1.125rem;
      border: solid black 4px;
      border-right: 0;
      border-top: 0;
      transform-origin: center center;
      transform: rotate(-45deg) translate(calc(-100% - 2px), 50%); }
  .screen-project .screen-title,
  .screen-project .screen-client,
  .screen-project .screen-categories {
    font-weight: 900; }
  .screen-project .screen-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.875rem;
    line-height: 1.875rem;
    text-transform: lowercase;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem; }
  .screen-project .screen-client,
  .screen-project .screen-team {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900; }
    .screen-project .screen-client::before,
    .screen-project .screen-team::before {
      font-weight: 300; }
  .screen-project .screen-client {
    margin-bottom: 0.5625rem; }
    .screen-project .screen-client::before {
      content: 'client: ';
      letter-spacing: normal;
      font-weight: 400; }
  .screen-project .screen-team::before {
    content: 'team: ';
    letter-spacing: normal;
    font-weight: 400; }
  .screen-project .screen-team a {
    position: relative;
    padding-left: 1.125rem; }
  .screen-project .screen-team .team-icon {
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: visible; }
    .screen-project .screen-team .team-icon line, .screen-project .screen-team .team-icon polyline {
      stroke: black;
      fill: none;
      stroke-width: 2px; }
  .screen-project .screen-brief {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 1.875rem 0; }
  .screen-project .list-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    text-transform: uppercase; }
    .screen-project .list-title::after {
      content: ': ';
      white-space: pre; }
  .screen-project .screen-categories {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center; }
  .screen-project .screen-category {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    position: relative;
    margin-right: 0.5625rem;
    background-color: white;
    color: black;
    padding-left: 0.9375rem;
    text-transform: uppercase;
    cursor: pointer; }
    .screen-project .screen-category:last-child {
      margin-right: 0; }
    .screen-project .screen-category::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: black;
      width: 5px;
      height: 5px;
      border-radius: 100%; }
  .screen-project .screen-tags {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    flex-wrap: wrap;
    align-items: center; }
    .screen-project .screen-tags .screen-tag::after {
      content: ', ';
      white-space: pre; }
    .screen-project .screen-tags .screen-tag:last-child::after {
      content: ''; }
  .screen-project .screen-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem; }
  .screen-project .screen-gallery {
    width: 50%; }
    .screen-project .screen-gallery .gallery-item {
      list-style: none; }
    .screen-project .screen-gallery .screen-image {
      width: 100%; }
  .screen-project .screen-hashtags {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    margin: auto;
    width: 75%;
    font-weight: 100;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0; }
    .screen-project .screen-hashtags .list-title {
      font-family: "Source Code Pro", sans-serif;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 900;
      font-weight: 900; }
    .screen-project .screen-hashtags .list-item::after {
      content: ', ';
      white-space: pre; }
    .screen-project .screen-hashtags .list-item:last-child::after {
      content: ''; }
  .screen-project .screen-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.125rem;
    padding: 3rem;
    background-color: black;
    color: white; }
