@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700");
.button-clapper button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

.button-clapper .button-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.9375rem;
  overflow: visible;
  cursor: pointer; }
  .button-clapper .button-icon:hover .hand-front {
    transform: translateX(-3px); }
  .button-clapper .button-icon:hover .hand-back {
    transform: translateX(3px); }
  .button-clapper .button-icon.clapping .hand-front,
  .button-clapper .button-icon .hand-front {
    transform: translateX(-2px); }
  .button-clapper .button-icon.clapping .hand-back,
  .button-clapper .button-icon .hand-back {
    transform: translateX(2px); }
  .button-clapper .button-icon path,
  .button-clapper .button-icon line {
    stroke: black;
    stroke-width: 2px;
    fill: white;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke; }

.button-clapper .button-count {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center; }
