include ../media/loader

mixin cardProject(project)
    a(href='/portfolio/' + project.slug)
        .card-portfolio
            .card-media
                img(data-src=project.featuredImage alt='portfolio image')
                .utility-loader
                    +loader()
            header.card-header
                .card-subtitle
                    h2
                        if project.categories.length > 0
                            each category, index in project.categories
                                | #{category.key}
                                if (index + 1) < project.categories.length
                                    | , #{' '}
                .card-title
                    .btn-main
                        .btn-title
                            p #{project.title}&nbsp;>
