@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900");
html body {
  text-transform: lowercase; }

.bg-light-1, .app-main {
  background-color: #fcfcfc; }

.bg-light-2 {
  background-color: #e6e6e6; }

.bg-light-3 {
  background-color: #cccccc; }

.bg-neutral-1 {
  background-color: #999999; }

.bg-neutral-2 {
  background-color: #666666; }

.bg-neutral-3 {
  background-color: #4d4d4d; }

.bg-dark-1, .multimedia-lightbox::after {
  background-color: #1f1f1f; }

.bg-dark-2 {
  background-color: #141414; }

.bg-dark-3, .tool-toggle, #dock:checked ~ .app-main,
#explore:checked ~ .app-main,
#filter:checked ~ .app-main, .wall-cards .wall-footer {
  background-color: #0d0d0d; }

.font-light-1, .menu-vertical .menu-header .menu-title, .menu-vertical .menu-body-part a, .multimedia-lightbox .multimedia-title, .multimedia-lightbox::after, #dock:checked ~ .app-main .app-header .app-title,
#explore:checked ~ .app-main .app-header .app-title,
#filter:checked ~ .app-main .app-header .app-title, #filter:checked ~ .app-main .panel-header .panel-title, #filter:checked ~ .app-main .panel-header .tool-filter, #filter:checked ~ .app-main .panel-header .tool-filter .tool-title, #explore:checked ~ .app-main .panel-header .tool-explore, .wall-cards .wall-footer {
  color: #fcfcfc; }

.font-light-2 {
  color: #e6e6e6; }

.font-light-3, .radio-generic label::before, .range-generic output, .switch-generic label::before, .switch-generic label::after {
  color: #cccccc; }

.font-neutral-1 {
  color: #999999; }

.font-neutral-2 {
  color: #666666; }

.font-neutral-3 {
  color: #4d4d4d; }

.font-dark-1 {
  color: #1f1f1f; }

.font-dark-2 {
  color: #141414; }

.font-dark-3, .tool-explore .tool-title, .tool-filter .tool-title, .tool-toggle .tool-title, .app-main .app-header .wrapper .app-title, .panel-filter .panel-header > .wrapper .panel-title {
  color: #0d0d0d; }

.padding-xxs {
  padding: 0.26967rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xxs {
      padding: 0.26967rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xxs {
      padding: 0.26967rem; } }

.padding-xxs-h {
  padding: 0 0.26967rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xxs-h {
      padding: 0.26967rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xxs-h {
      padding: 0.26967rem; } }

.padding-xxs-v {
  padding: 0.26967rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xxs-v {
      padding: 0.26967rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xxs-v {
      padding: 0.26967rem; } }

.padding-xs {
  padding: 0.4045rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xs {
      padding: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xs {
      padding: 0.26967rem; } }

.padding-xs-h {
  padding: 0 0.4045rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xs-h {
      padding: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xs-h {
      padding: 0.26967rem; } }

.padding-xs-v {
  padding: 0.4045rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xs-v {
      padding: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xs-v {
      padding: 0.26967rem; } }

.padding-s {
  padding: 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-s {
      padding: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-s {
      padding: 0.4045rem; } }

.padding-s-h {
  padding: 0 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-s-h {
      padding: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-s-h {
      padding: 0.4045rem; } }

.padding-s-v {
  padding: 0.809rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-s-v {
      padding: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-s-v {
      padding: 0.4045rem; } }

.padding-m {
  padding: 1.618rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-m {
      padding: 0.809rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-m {
      padding: 0.4045rem; } }

.padding-m-h {
  padding: 0 1.618rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-m-h {
      padding: 0.809rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-m-h {
      padding: 0.4045rem; } }

.padding-m-v {
  padding: 1.618rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-m-v {
      padding: 0.809rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-m-v {
      padding: 0.4045rem; } }

.padding-l {
  padding: 3.236rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-l {
      padding: 1.618rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-l {
      padding: 0.809rem; } }

.padding-l-h {
  padding: 0 3.236rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-l-h {
      padding: 1.618rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-l-h {
      padding: 0.809rem; } }

.padding-l-v {
  padding: 3.236rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-l-v {
      padding: 1.618rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-l-v {
      padding: 0.809rem; } }

.padding-xl {
  padding: 6.472rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xl {
      padding: 3.236rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xl {
      padding: 1.618rem; } }

.padding-xl-h {
  padding: 0 6.472rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xl-h {
      padding: 3.236rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xl-h {
      padding: 1.618rem; } }

.padding-xl-v {
  padding: 6.472rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xl-v {
      padding: 3.236rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xl-v {
      padding: 1.618rem; } }

.padding-xxl {
  padding: 8.09rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xxl {
      padding: 6.472rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xxl {
      padding: 3.236rem; } }

.padding-xxl-h {
  padding: 0 8.09rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xxl-h {
      padding: 6.472rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xxl-h {
      padding: 3.236rem; } }

.padding-xxl-v {
  padding: 8.09rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .padding-xxl-v {
      padding: 6.472rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .padding-xxl-v {
      padding: 3.236rem; } }

.margin-xxs {
  margin: 0.26967rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xxs {
      margin: 0.26967rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xxs {
      margin: 0.26967rem; } }

.margin-xxs-h {
  margin: 0 0.26967rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xxs-h {
      margin: 0.26967rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xxs-h {
      margin: 0.26967rem; } }

.margin-xxs-v {
  margin: 0.26967rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xxs-v {
      margin: 0.26967rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xxs-v {
      margin: 0.26967rem; } }

.margin-xs {
  margin: 0.4045rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xs {
      margin: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xs {
      margin: 0.4045rem; } }

.margin-xs-h {
  margin: 0 0.4045rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xs-h {
      margin: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xs-h {
      margin: 0.4045rem; } }

.margin-xs-v {
  margin: 0.4045rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xs-v {
      margin: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xs-v {
      margin: 0.4045rem; } }

.margin-s {
  margin: 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-s {
      margin: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-s {
      margin: 0.4045rem; } }

.margin-s-h {
  margin: 0 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-s-h {
      margin: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-s-h {
      margin: 0.4045rem; } }

.margin-s-v {
  margin: 0.809rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-s-v {
      margin: 0.4045rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-s-v {
      margin: 0.4045rem; } }

.margin-m {
  margin: 1.618rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-m {
      margin: 0.809rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-m {
      margin: 0.4045rem; } }

.margin-m-h {
  margin: 0 1.618rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-m-h {
      margin: 0.809rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-m-h {
      margin: 0.4045rem; } }

.margin-m-v {
  margin: 1.618rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-m-v {
      margin: 0.809rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-m-v {
      margin: 0.4045rem; } }

.margin-l {
  margin: 3.236rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-l {
      margin: 1.618rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-l {
      margin: 0.809rem; } }

.margin-l-h {
  margin: 0 3.236rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-l-h {
      margin: 1.618rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-l-h {
      margin: 0.809rem; } }

.margin-l-v {
  margin: 3.236rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-l-v {
      margin: 1.618rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-l-v {
      margin: 0.809rem; } }

.margin-xxl {
  margin: 8.09rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xxl {
      margin: 6.472rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xxl {
      margin: 3.236rem; } }

.margin-xxl-h {
  margin: 0 8.09rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xxl-h {
      margin: 6.472rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xxl-h {
      margin: 3.236rem; } }

.margin-xxl-v {
  margin: 8.09rem 0; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .margin-xxl-v {
      margin: 6.472rem; } }
  @media (min-width: 20.0625em) and (max-width: 29.25em) {
    .margin-xxl-v {
      margin: 3.236rem; } }

.type-p {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.618rem; }

.type-fine {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.56278rem;
  line-height: 1.618rem; }

.type-h1 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 3.15733rem;
  line-height: 1.618rem; }

.type-h2 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 2.36859rem;
  line-height: 1.618rem; }

.type-h3 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.77689rem;
  line-height: 1.618rem; }

.type-h4 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.77689rem;
  line-height: 1.618rem; }

.type-h5 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.333rem;
  line-height: 1.618rem; }

.type-h6 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.618rem; }

* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

:focus {
  outline: none; }

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1; }

input:focus {
  outline: 0; }

input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

::-webkit-search-decoration {
  display: none; }

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

textarea {
  vertical-align: top;
  overflow: auto; }

select[multiple] {
  vertical-align: top; }

.btn-main {
  height: auto;
  display: inline-flex;
  cursor: pointer; }

.btn-main .btn-title {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.333rem;
  line-height: 1.618rem;
  font-weight: 700;
  color: inherit;
  position: relative;
  color: #0d0d0d;
  transition: color 0.33s linear;
  padding-bottom: calc(4px * 2); }
  .btn-main .btn-title::after {
    transition: all 0.33s linear;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #0d0d0d; }
  .btn-main .btn-title:hover::after, .btn-main .btn-title:active::after {
    width: calc(100% + 0.809rem); }
  @media (max-width: 29.25em) {
    .btn-main .btn-title {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem;
      padding-bottom: calc(3px * 2); }
      .btn-main .btn-title::after {
        height: 3px; } }

.card-post, .card-project {
  position: relative;
  display: block;
  border: solid 4px #0d0d0d;
  padding: 0.809rem;
  transition: background-color 0.33s linear;
  background-color: #fcfcfc;
  cursor: pointer;
  height: 100%; }
  .card-post:hover, .card-project:hover, .card-post:active, .card-project:active {
    background-color: #0d0d0d; }
    .card-post:hover .card-header, .card-project:hover .card-header, .card-post:active .card-header, .card-project:active .card-header {
      color: #fcfcfc; }
    .card-post:hover .btn-title, .card-project:hover .btn-title, .card-post:active .btn-title, .card-project:active .btn-title {
      color: #fcfcfc; }
      .card-post:hover .btn-title::after, .card-project:hover .btn-title::after, .card-post:active .btn-title::after, .card-project:active .btn-title::after {
        background-color: #fcfcfc; }
  .card-post .card-media, .card-project .card-media {
    background-position: center;
    padding-bottom: 0.809rem; }
    .card-post .card-media > *, .card-project .card-media > * {
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative; }
      .card-post .card-media > * img, .card-project .card-media > * img, .card-post .card-media > * svg, .card-project .card-media > * svg {
        width: 100%;
        height: auto; }
      .card-post .card-media > *.square, .card-project .card-media > *.square {
        padding-top: 100%; }
  .card-post .card-header, .card-project .card-header {
    color: #0d0d0d;
    transition: color 0.33s linear; }
    .card-post .card-header .card-subtitle, .card-project .card-header .card-subtitle {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem;
      display: flex; }
      @media (max-width: 29.25em) {
        .card-post .card-header .card-subtitle, .card-project .card-header .card-subtitle {
          font-family: "Source Code Pro", sans-serif;
          font-size: 0.56278rem;
          line-height: 1.618rem; } }

.form-contact, .form-filters {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start; }

.form-contact > * {
  margin-bottom: 1.618rem; }
  .form-contact > *:last-child {
    margin-bottom: 0; }

.form-filters > * {
  margin-bottom: 0.809rem; }
  .form-filters > *:last-child {
    margin-bottom: 0; }

.collection-blockquote header {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.333rem;
  line-height: 1.618rem;
  padding-bottom: 0.4045rem; }
  @media (max-width: 29.25em) {
    .collection-blockquote header {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem; } }

.collection-blockquote footer {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.618rem;
  width: 100%;
  font-weight: 300; }

.container-document .container-body-part {
  margin-bottom: 1.618rem; }
  .container-document .container-body-part:last-child {
    margin-bottom: 0; }

.container-document b {
  font-weight: 700; }

.container-document h1 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 3.15733rem;
  line-height: 1.618rem;
  font-weight: 700;
  margin-bottom: 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .container-document h1 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 2.36859rem;
      line-height: 1.618rem; } }
  @media (max-width: 29.25em) {
    .container-document h1 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1.77689rem;
      line-height: 1.618rem; } }

.container-document h2 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 2.36859rem;
  line-height: 1.618rem;
  font-weight: 700;
  margin-bottom: 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .container-document h2 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1.77689rem;
      line-height: 1.618rem; } }
  @media (max-width: 29.25em) {
    .container-document h2 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1.77689rem;
      line-height: 1.618rem; } }

.container-document h3 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.77689rem;
  line-height: 1.618rem;
  font-weight: 700;
  margin-bottom: 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .container-document h3 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1.77689rem;
      line-height: 1.618rem; } }
  @media (max-width: 29.25em) {
    .container-document h3 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1.333rem;
      line-height: 1.618rem; } }

.container-document h4 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.77689rem;
  line-height: 1.618rem;
  font-weight: 700;
  margin-bottom: 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .container-document h4 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1.333rem;
      line-height: 1.618rem; } }
  @media (max-width: 29.25em) {
    .container-document h4 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem; } }

.container-document h5 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.333rem;
  line-height: 1.618rem;
  font-weight: 700;
  margin-bottom: 0.809rem; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .container-document h5 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem; } }
  @media (max-width: 29.25em) {
    .container-document h5 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem; } }

.container-document h6 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.618rem;
  font-weight: 700; }
  @media (min-width: 29.3125em) and (max-width: 48em) {
    .container-document h6 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem; } }
  @media (max-width: 29.25em) {
    .container-document h6 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem; } }

.container-document p {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.618rem;
  font-weight: 200;
  margin-bottom: 0.809rem; }
  @media (max-width: 29.25em) {
    .container-document p {
      font-family: "Source Code Pro", sans-serif;
      font-size: 0.56278rem;
      line-height: 1.618rem; } }

.container-micro {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 1.618rem;
  width: 100%; }
  .container-micro .container-header .container-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.77689rem;
    line-height: 1.618rem;
    margin-bottom: 0.809rem;
    font-weight: 700; }
    @media (min-width: 20.0625em) and (max-width: 29.25em) {
      .container-micro .container-header .container-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.77689rem;
        line-height: 1.618rem; } }
    @media (max-width: 20em) {
      .container-micro .container-header .container-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.333rem;
        line-height: 1.618rem; } }
  .container-micro .container-header .container-subtitle {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.333rem;
    line-height: 1.618rem;
    font-weight: 300; }
    @media (max-width: 20em) {
      .container-micro .container-header .container-subtitle {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.618rem; } }

.menu-vertical {
  visibility: visible; }

.menu-vertical {
  align-items: flex-start;
  width: 100%; }
  .menu-vertical .menu-header .menu-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.618rem;
    margin-bottom: 0.809rem;
    font-weight: 300; }
  .menu-vertical .menu-body {
    flex-direction: column;
    align-items: stretch;
    height: 100%; }
  .menu-vertical .menu-body-part {
    display: flex;
    text-align: left;
    margin-bottom: 0.809rem; }
    .menu-vertical .menu-body-part a {
      position: relative; }
      .menu-vertical .menu-body-part a::after {
        background-color: #fcfcfc; }
    .menu-vertical .menu-body-part:last-child {
      margin-bottom: 0; }

.multimedia-lightbox {
  visibility: visible; }

.multimedia-lightbox {
  position: relative;
  cursor: pointer;
  transition: opacity 0.33s linear;
  display: block; }
  .multimedia-lightbox .multimedia-media {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
    .multimedia-lightbox .multimedia-media img,
    .multimedia-lightbox .multimedia-media svg {
      width: 100%;
      height: auto; }
    .multimedia-lightbox .multimedia-media.square {
      padding-top: 100%; }
  .multimedia-lightbox .multimedia-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.333rem;
    line-height: 1.618rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity 0.33s linear;
    opacity: 0;
    z-index: 5555; }
  .multimedia-lightbox:hover .multimedia-title {
    opacity: 1; }
  .multimedia-lightbox:hover::after {
    opacity: 1; }
  .multimedia-lightbox::after {
    transition: opacity 0.33s linear;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ''; }

.checkbox-main {
  visibility: visible; }

.checkbox-main .checkbox-title {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.618rem;
  padding-left: 0.809rem; }

.checkbox-main .checkbox-label {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center; }

.checkbox-main .checkbox-input {
  position: relative;
  width: 1.618rem;
  height: 1.618rem; }
  .checkbox-main .checkbox-input .wrapper {
    background-color: transparent;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.618rem;
    height: 4px; }
    .checkbox-main .checkbox-input .wrapper::before, .checkbox-main .checkbox-input .wrapper::after {
      transition: transform 0.33s linear;
      background-color: #fcfcfc;
      content: '';
      position: inherit;
      left: inherit;
      top: inherit;
      transform: inherit;
      width: inherit;
      height: inherit; }

.checkbox-main input {
  display: none; }
  .checkbox-main input:checked + .checkbox-label .wrapper::before {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg); }
  .checkbox-main input:checked + .checkbox-label .wrapper::after {
    transform: translate3d(-50%, -50%, 0) rotate(45deg); }

.input-text, .input-textarea {
  position: relative;
  display: inline-flex; }
  .input-text .input-label, .input-textarea .input-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .input-text .input-label .input-title, .input-textarea .input-label .input-title {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem;
      padding-bottom: 0.4045rem;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(0);
      transition: all 0.33s linear; }
    .input-text .input-label::after, .input-textarea .input-label::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(100%);
      background-color: #0d0d0d;
      height: 4px;
      transition: width 0.33s ease; }
      @media (min-width: 29.3125em) and (max-width: 48em) {
        .input-text .input-label::after, .input-textarea .input-label::after {
          height: 3px; } }
  .input-text:focus::after, .input-textarea:focus::after {
    width: calc(100% + 3.236rem); }
  .input-text input, .input-textarea input, .input-text textarea, .input-textarea textarea {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.618rem;
    width: 100%;
    color: transparent; }
    .input-text input:focus, .input-textarea input:focus, .input-text input:valid, .input-textarea input:valid, .input-text textarea:focus, .input-textarea textarea:focus, .input-text textarea:valid, .input-textarea textarea:valid {
      color: #0d0d0d; }
      .input-text input:focus + .input-label .input-title, .input-textarea input:focus + .input-label .input-title, .input-text input:valid + .input-label .input-title, .input-textarea input:valid + .input-label .input-title, .input-text textarea:focus + .input-label .input-title, .input-textarea textarea:focus + .input-label .input-title, .input-text textarea:valid + .input-label .input-title, .input-textarea textarea:valid + .input-label .input-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 0.56278rem;
        line-height: 1.618rem;
        transform: translateY(-50%); }
      .input-text input:focus + .input-label::after, .input-textarea input:focus + .input-label::after, .input-text input:valid + .input-label::after, .input-textarea input:valid + .input-label::after, .input-text textarea:focus + .input-label::after, .input-textarea textarea:focus + .input-label::after, .input-text textarea:valid + .input-label::after, .input-textarea textarea:valid + .input-label::after {
        width: calc(100% + 0.809rem); }

.radio-generic {
  visibility: visible; }

.radio-generic input {
  display: none; }

.radio-generic label {
  display: block;
  padding-left: calc(1.618rem + 0.4045rem);
  position: relative;
  cursor: pointer; }

.radio-generic label::before {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.4045rem;
  position: absolute;
  padding: 0;
  left: 0;
  top: 50%;
  content: '';
  height: 1.618rem;
  width: 1.618rem;
  transition: all 0.3s ease;
  transform-origin: right bottom;
  transform: translateY(-50%);
  box-sizing: border-box;
  transition-delay: 0.2s;
  border-radius: 1.618rem; }
  .radio-generic label::before > [class*='-header'] > [class*='tool']:first-child,
  .radio-generic label::before > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.4045rem; }
  .radio-generic label::before > [class*='-header'] > [class*='tool']:last-child,
  .radio-generic label::before > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.4045rem; }
  .radio-generic label::before > [class*='-header'],
  .radio-generic label::before > [class*='-filter'],
  .radio-generic label::before > [class*='-media'],
  .radio-generic label::before > [class*='-body'],
  .radio-generic label::before > [class*='-footer'] {
    margin-bottom: 0.4045rem; }
    .radio-generic label::before > [class*='-header']:last-child,
    .radio-generic label::before > [class*='-filter']:last-child,
    .radio-generic label::before > [class*='-media']:last-child,
    .radio-generic label::before > [class*='-body']:last-child,
    .radio-generic label::before > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .radio-generic label::before [class*='-header'],
  .radio-generic label::before [class*='-filter'],
  .radio-generic label::before [class*='-body'],
  .radio-generic label::before [class*='-footer'],
  .radio-generic label::before [class*='-tooltip'],
  .radio-generic label::before [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.4045rem; }
  .radio-generic label::before [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.4045rem; }
  .radio-generic label::before .btn-circle {
    padding: 0; }
    .radio-generic label::before .btn-circle .btn-media {
      padding: 0; }

.radio-generic label::after {
  content: '';
  position: absolute;
  padding: 0;
  left: 0.809rem;
  top: 50%;
  width: 0.26967rem;
  height: 0.26967rem;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
  border-radius: 1.618rem;
  box-sizing: border-box;
  opacity: 0;
  background: #cccccc; }

.radio-generic input:checked + label::after {
  width: 0.809rem;
  height: 0.809rem;
  opacity: 1; }

.range-generic {
  opacity: 1; }

.range-generic {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .range-generic .range-slider {
    display: inline-block;
    position: relative;
    margin: 0 0.809rem;
    flex: 1; }
  .range-generic input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    height: 3.236rem;
    width: 100%; }
  .range-generic input[type=range]:focus {
    outline: none; }
  .range-generic input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .range-generic input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .range-generic input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.618rem;
    height: 1.618rem;
    border: 3px solid #cccccc;
    transition: all 0.5s ease;
    transform: translateY(-50%);
    transform-origin: top left;
    box-sizing: border-box;
    background: #fcfcfc;
    border-radius: 100%;
    box-sizing: border-box; }
  .range-generic input[type=range]:hover::-webkit-slider-thumb {
    background: #fcfcfc; }
  .range-generic input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.618rem;
    height: 1.618rem;
    border: 3px solid #cccccc;
    transition: all 0.5s ease;
    transform: translateY(-50%);
    transform-origin: top left;
    box-sizing: border-box;
    background: #fcfcfc;
    border-radius: 100%;
    box-sizing: border-box; }
  .range-generic input[type=range]:hover::-moz-range-thumb {
    background: #fcfcfc; }
  .range-generic input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    width: 1.618rem;
    height: 1.618rem;
    border: 3px solid #cccccc;
    transition: all 0.5s ease;
    transform: translateY(-50%);
    transform-origin: top left;
    box-sizing: border-box;
    background: #fcfcfc;
    border-radius: 100%;
    box-sizing: border-box; }
  .range-generic input[type=range]:hover::-ms-thumb {
    background: #fcfcfc; }
  .range-generic input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic input[type=range]:focus::-webkit-slider-runnable-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic input[type=range]::-moz-range-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic input[type=range]::-ms-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic .range-tooltip {
    pointer-events: none;
    position: absolute;
    bottom: 100%; }
  .range-generic output {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.618rem;
    width: 100%;
    text-align: center; }
  .range-generic label {
    display: block;
    padding-left: calc(1.618rem + 0.4045rem);
    cursor: pointer; }

.select-generic {
  visibility: visible; }

.select-generic {
  border: 3px solid #cccccc;
  position: relative; }
  .select-generic select {
    position: relative;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0 1.618rem 0 0.809rem;
    z-index: 2; }
  .select-generic::before {
    content: ' ';
    position: absolute;
    right: 2.427rem;
    height: 100%;
    border-right: 3px solid #cccccc; }
  .select-generic::after {
    content: ' ';
    position: absolute;
    right: 0.809rem;
    top: 50%;
    height: 0.4045rem;
    width: 0.4045rem;
    border-bottom: 3px solid #cccccc;
    border-right: 3px solid #cccccc;
    transform-origin: top center;
    transform: rotate(45deg) translateY(-50%); }

.switch-generic {
  visibility: visible; }

.switch-generic input {
  display: none; }

.switch-generic label {
  display: block;
  padding-left: calc(3.236rem + 0.4045rem);
  position: relative;
  cursor: pointer; }

.switch-generic label::before {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.4045rem;
  position: absolute;
  padding: 0;
  left: 0;
  top: 50%;
  content: '';
  height: 1.618rem;
  width: 3.236rem;
  transition: all 0.3s ease;
  transform-origin: right bottom;
  transform: translateY(-50%);
  box-sizing: border-box;
  border-radius: 1.618rem; }
  .switch-generic label::before > [class*='-header'] > [class*='tool']:first-child,
  .switch-generic label::before > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.4045rem; }
  .switch-generic label::before > [class*='-header'] > [class*='tool']:last-child,
  .switch-generic label::before > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.4045rem; }
  .switch-generic label::before > [class*='-header'],
  .switch-generic label::before > [class*='-filter'],
  .switch-generic label::before > [class*='-media'],
  .switch-generic label::before > [class*='-body'],
  .switch-generic label::before > [class*='-footer'] {
    margin-bottom: 0.4045rem; }
    .switch-generic label::before > [class*='-header']:last-child,
    .switch-generic label::before > [class*='-filter']:last-child,
    .switch-generic label::before > [class*='-media']:last-child,
    .switch-generic label::before > [class*='-body']:last-child,
    .switch-generic label::before > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .switch-generic label::before [class*='-header'],
  .switch-generic label::before [class*='-filter'],
  .switch-generic label::before [class*='-body'],
  .switch-generic label::before [class*='-footer'],
  .switch-generic label::before [class*='-tooltip'],
  .switch-generic label::before [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.4045rem; }
  .switch-generic label::before [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.4045rem; }
  .switch-generic label::before .btn-circle {
    padding: 0; }
    .switch-generic label::before .btn-circle .btn-media {
      padding: 0; }

.switch-generic label::after {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.4045rem;
  position: absolute;
  padding: 0;
  left: 0;
  top: 50%;
  content: '';
  width: 1.618rem;
  height: 1.618rem;
  transition: all 0.3s ease;
  transform: translateY(-50%);
  transform-origin: top left;
  box-sizing: border-box;
  border-radius: 1.618rem;
  background: #fcfcfc; }
  .switch-generic label::after > [class*='-header'] > [class*='tool']:first-child,
  .switch-generic label::after > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.4045rem; }
  .switch-generic label::after > [class*='-header'] > [class*='tool']:last-child,
  .switch-generic label::after > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.4045rem; }
  .switch-generic label::after > [class*='-header'],
  .switch-generic label::after > [class*='-filter'],
  .switch-generic label::after > [class*='-media'],
  .switch-generic label::after > [class*='-body'],
  .switch-generic label::after > [class*='-footer'] {
    margin-bottom: 0.4045rem; }
    .switch-generic label::after > [class*='-header']:last-child,
    .switch-generic label::after > [class*='-filter']:last-child,
    .switch-generic label::after > [class*='-media']:last-child,
    .switch-generic label::after > [class*='-body']:last-child,
    .switch-generic label::after > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .switch-generic label::after [class*='-header'],
  .switch-generic label::after [class*='-filter'],
  .switch-generic label::after [class*='-body'],
  .switch-generic label::after [class*='-footer'],
  .switch-generic label::after [class*='-tooltip'],
  .switch-generic label::after [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.4045rem; }
  .switch-generic label::after [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.4045rem; }
  .switch-generic label::after .btn-circle {
    padding: 0; }
    .switch-generic label::after .btn-circle .btn-media {
      padding: 0; }

.switch-generic input:checked + label::after {
  left: calc(3.236rem - 1.618rem); }

.switch-generic input:checked + label::before {
  background: #cccccc; }

.tool-explore, .tool-filter, .tool-toggle {
  cursor: pointer;
  display: inline-flex;
  position: relative; }
  .tool-explore .tool-title, .tool-filter .tool-title, .tool-toggle .tool-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.56278rem;
    line-height: 1.618rem; }

.tool-explore {
  padding: 0.809rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tool-explore .tool-media {
    transition: all 0.33s linear;
    width: 1.618rem;
    height: 1.618rem;
    position: relative;
    transition: transform 0.33s linear;
    transform: rotate(0deg); }
    .tool-explore .tool-media svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0); }
      .tool-explore .tool-media svg svg circle,
      .tool-explore .tool-media svg svg ellipse,
      .tool-explore .tool-media svg svg g,
      .tool-explore .tool-media svg svg path,
      .tool-explore .tool-media svg svg polyline,
      .tool-explore .tool-media svg svg stroke {
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
        stroke-linecap: inherit;
        stroke-capoffset: inherit;
        stroke-dasharray: inherit;
        stroke-dashoffset: inherit;
        vector-effect: inherit; }
    .tool-explore .tool-media polyline {
      fill: none;
      stroke-width: calc(4px / 2);
      stroke: #0d0d0d;
      transition: stroke 0.33s linear; }
    .tool-explore .tool-media polygon {
      fill: #fcfcfc;
      transition: fill 0.33s linear; }
    .tool-explore .tool-media:hover {
      transform: rotate(0deg), translateY(-0.4045rem); }

.tool-filter {
  padding: 0.809rem 0;
  display: flex;
  align-items: center; }
  .tool-filter .tool-title {
    padding-right: 0.809rem; }
  .tool-filter .tool-media {
    transition: all 0.33s linear;
    position: relative;
    transition: transform 0.33s linear;
    transform: rotate(0deg); }
    .tool-filter .tool-media svg svg circle,
    .tool-filter .tool-media svg svg ellipse,
    .tool-filter .tool-media svg svg g,
    .tool-filter .tool-media svg svg path,
    .tool-filter .tool-media svg svg polyline,
    .tool-filter .tool-media svg svg stroke {
      fill: inherit;
      stroke: inherit;
      stroke-width: inherit;
      stroke-linecap: inherit;
      stroke-capoffset: inherit;
      stroke-dasharray: inherit;
      stroke-dashoffset: inherit;
      vector-effect: inherit; }
    .tool-filter .tool-media svg polyline {
      fill: none;
      stroke-width: calc(4px / 2);
      stroke: #0d0d0d;
      transition: stroke 0.33s linear; }
    .tool-filter .tool-media svg polygon {
      fill: #fcfcfc;
      transition: fill 0.33s linear; }
    .tool-filter .tool-media:hover {
      transform: rotate(0deg), translateY(-0.4045rem); }

.tool-toggle {
  padding: 0.809rem;
  width: 3.236rem;
  height: 3.236rem; }
  .tool-toggle .tool-media {
    background-color: transparent;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.618rem;
    height: 4px; }
    .tool-toggle .tool-media::before, .tool-toggle .tool-media::after {
      transition: transform 0.33s linear;
      background-color: #fcfcfc;
      content: '';
      position: inherit;
      left: inherit;
      top: inherit;
      transform: inherit;
      width: inherit;
      height: inherit; }

.utility-generic {
  visibility: visible; }

.utility-generic img {
  max-width: 100%; }

#dock,
#explore,
#filter {
  display: none; }
  #dock:checked ~ .app-main,
  #explore:checked ~ .app-main,
  #filter:checked ~ .app-main {
    border: solid #fcfcfc 0.809rem; }

#filter:checked ~ .app-main .panel-filter {
  height: 100%;
  bottom: 0; }

#filter:checked ~ .app-main .panel-header .tool-filter .tool-media {
  transform: rotate(-90deg); }
  #filter:checked ~ .app-main .panel-header .tool-filter .tool-media polygon {
    fill: #fcfcfc; }

#filter:checked ~ .app-main .panel-header::before {
  background-color: #fcfcfc; }

#filter:checked ~ .app-main .screen-body {
  opacity: 0; }

#explore:checked ~ .app-main .panel-explore {
  height: 100%;
  top: 0; }

#explore:checked ~ .app-main .panel-header .tool-explore .tool-media {
  transform: rotate(180deg); }
  #explore:checked ~ .app-main .panel-header .tool-explore .tool-media polyline {
    stroke: #fcfcfc; }

#explore:checked ~ .app-main .panel-header::before {
  background-color: #fcfcfc; }

#dock:checked ~ .app-main .app-header .tool-toggle .tool-media::before {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg); }

#dock:checked ~ .app-main .app-header .tool-toggle .tool-media::after {
  transform: translate3d(-50%, -50%, 0) rotate(45deg); }

#dock:checked ~ .app-main .app-body {
  transform: translateX(100%);
  opacity: 0;
  flex: 0;
  height: 0;
  overflow: hidden; }

#dock:checked ~ .app-main .app-footer {
  padding: 1.618rem;
  transform: translateX(0);
  opacity: 1;
  flex: 1; }

html,
body {
  height: 100%; }

.app-main {
  border: solid #0d0d0d 0.809rem;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: background-color 0.33s ease, color 0.33s ease, border-color 0.33s ease; }
  .app-main .app-header {
    padding: 1.618rem; }
    .app-main .app-header .wrapper {
      display: flex;
      justify-content: space-between;
      align-self: center; }
      .app-main .app-header .wrapper .app-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.77689rem;
        line-height: 1.618rem;
        transition: color 0.33s linear;
        display: flex;
        align-items: center;
        font-weight: 700; }
        @media (min-width: 20.0625em) and (max-width: 29.25em) {
          .app-main .app-header .wrapper .app-title {
            font-family: "Source Code Pro", sans-serif;
            font-size: 1.333rem;
            line-height: 1.618rem; } }
        @media (max-width: 20em) {
          .app-main .app-header .wrapper .app-title {
            font-family: "Source Code Pro", sans-serif;
            font-size: 1rem;
            line-height: 1.618rem; } }
  .app-main .app-footer {
    display: flex;
    align-self: center;
    flex-grow: 1;
    opacity: 0;
    width: 100%;
    flex: 0;
    height: 0;
    justify-content: flex-end;
    flex-direction: column;
    transform: translateX(-100%);
    transition: opacity 0.33s linear;
    overflow: hidden; }
    .app-main .app-footer .menu-vertical:first-child {
      padding-bottom: 1.618rem; }
    .app-main .app-footer .menu-vertical .btn-title::after {
      background-color: #fcfcfc; }
  .app-main .app-body {
    padding: 0 1.618rem;
    flex-grow: 1;
    opacity: 1;
    width: 100%;
    transition: opacity 0.33s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;
    -ms-overflow-style: none; }
    .app-main .app-body > * {
      flex-grow: 1;
      display: flex; }
    .app-main .app-body .app-body-part {
      width: 100%; }
      .app-main .app-body .app-body-part.start {
        height: 100%;
        flex-grow: 1;
        display: flex; }
      .app-main .app-body .app-body-part.header {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.618rem;
        width: 100%;
        padding-bottom: 0.809rem;
        margin-bottom: 0.809rem;
        border-bottom: solid #0d0d0d 4px; }

.board-contact, .board-gallery {
  visibility: visible;
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 6.472rem; }
  @media (max-width: 64em) {
    .board-contact, .board-gallery {
      padding-bottom: 3.236rem; } }
  .board-contact .board-header, .board-gallery .board-header {
    color: #0d0d0d;
    padding-bottom: 0.809rem; }
    @media (max-width: 29.25em) {
      .board-contact .board-header, .board-gallery .board-header {
        padding-bottom: 0.4045rem; } }
    .board-contact .board-header > *:first-child, .board-gallery .board-header > *:first-child {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem;
      font-weight: 300;
      padding-bottom: 0.809rem; }
      @media (max-width: 20em) {
        .board-contact .board-header > *:first-child, .board-gallery .board-header > *:first-child {
          display: none; } }
    .board-contact .board-header + *, .board-gallery .board-header + * {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem; }
  .board-contact .board-title, .board-gallery .board-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 3.15733rem;
    line-height: 1.618rem;
    font-weight: 700; }
    @media (max-width: 29.25em) {
      .board-contact .board-title, .board-gallery .board-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.77689rem;
        line-height: 1.618rem; } }
  .board-contact .board-body, .board-gallery .board-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .board-contact .board-body .board-body-part, .board-gallery .board-body .board-body-part {
      width: 100%;
      color: #0d0d0d; }
      .board-contact .board-body .board-body-part:first-child, .board-gallery .board-body .board-body-part:first-child {
        flex-grow: 1; }
      .board-contact .board-body .board-body-part:last-child, .board-gallery .board-body .board-body-part:last-child {
        padding-bottom: 1.618rem; }
        @media (max-width: 20em) {
          .board-contact .board-body .board-body-part:last-child, .board-gallery .board-body .board-body-part:last-child {
            display: none; } }

.board-contact .board-content {
  flex-direction: column;
  max-width: 1200px; }

.board-contact .board-body {
  padding-bottom: 0; }

.board-contact .board-body-part {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1.618rem; }

.panel-explore, .panel-filter {
  z-index: 8888;
  display: flex;
  flex-direction: column;
  transition: all 0.33s linear;
  position: absolute; }
  .panel-explore .panel-header, .panel-filter .panel-header {
    cursor: pointer;
    height: 0;
    position: relative;
    padding-top: 6.472rem; }
    @media (max-width: 64em) {
      .panel-explore .panel-header, .panel-filter .panel-header {
        padding-top: 3.236rem; } }
    .panel-explore .panel-header::before, .panel-filter .panel-header::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 4px;
      width: 100%;
      transition: background-color 0.33s linear;
      background-color: #0d0d0d; }
    .panel-explore .panel-header > .wrapper, .panel-filter .panel-header > .wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex; }
  .panel-explore .panel-body, .panel-filter .panel-body {
    flex-grow: 1;
    display: flex;
    justify-content: center; }
    .panel-explore .panel-body::after, .panel-filter .panel-body::after {
      height: calc(100% + 1px); }
  .panel-explore .panel-content, .panel-filter .panel-content {
    flex-direction: column; }
  .panel-explore .panel-content, .panel-filter .panel-content, .panel-explore .panel-media, .panel-filter .panel-media {
    width: 100%;
    max-width: 1200px;
    align-self: center;
    display: flex;
    transition: all 0.33s linear;
    align-items: flex-start; }

.panel-explore {
  color: #fcfcfc;
  width: 100%;
  left: 0;
  top: calc(100% - 6.472rem); }
  @media (max-width: 64em) {
    .panel-explore {
      top: calc(100% - 3.236rem); } }
  .panel-explore .panel-header {
    justify-content: center; }
    .panel-explore .panel-header > .wrapper > * {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0); }
  .panel-explore .panel-body {
    overflow-y: scroll; }
  .panel-explore .panel-content {
    padding-bottom: 1.618rem; }

.panel-filter {
  color: #fcfcfc;
  width: 100%;
  left: 0;
  flex-grow: 1;
  bottom: calc(100% - 6.472rem); }
  @media (max-width: 64em) {
    .panel-filter {
      bottom: calc(100% - 3.236rem); } }
  .panel-filter .panel-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.618rem; }
    .panel-filter .panel-body .panel-body-part:first-child .panel-subtitle {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem;
      padding-bottom: 1.618rem; }
    .panel-filter .panel-body .panel-body-part:last-child {
      overflow-y: scroll;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
  .panel-filter .panel-header > .wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex; }
    .panel-filter .panel-header > .wrapper .panel-title {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.618rem;
      flex-grow: 1; }
  .panel-filter .panel-header .tool-media {
    transform: rotate(90deg); }
    .panel-filter .panel-header .tool-media svg svg circle,
    .panel-filter .panel-header .tool-media svg svg ellipse,
    .panel-filter .panel-header .tool-media svg svg g,
    .panel-filter .panel-header .tool-media svg svg path,
    .panel-filter .panel-header .tool-media svg svg polyline,
    .panel-filter .panel-header .tool-media svg svg stroke {
      fill: inherit;
      stroke: inherit;
      stroke-width: inherit;
      stroke-linecap: inherit;
      stroke-capoffset: inherit;
      stroke-dasharray: inherit;
      stroke-dashoffset: inherit;
      vector-effect: inherit; }
    .panel-filter .panel-header .tool-media polygon {
      fill: #0d0d0d; }

.screen-blog, .screen-portfolio {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1; }
  .screen-blog .screen-body, .screen-portfolio .screen-body {
    transition: opacity 0.33s linear;
    opacity: 1;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: 6.472rem; }
    @media (max-width: 64em) {
      .screen-blog .screen-body, .screen-portfolio .screen-body {
        margin-top: 3.236rem; } }

.wall-cards .wall-header {
  padding: 1.618rem 0; }
  .wall-cards .wall-header .wall-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.618rem; }

.wall-cards .wall-footer {
  position: relative; }

.wall-cards {
  height: calc(100% + 1px);
  width: 100%; }
  .wall-cards .wall-body {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 0.809rem; }
    .wall-cards .wall-body .wall-body-part {
      margin-bottom: 0.809rem; }
      @media (min-width: 48.0625em) {
        .wall-cards .wall-body .wall-body-part {
          width: calc(33.33% - (0.809rem * 2) / 3);
          margin-right: 0.809rem; }
          .wall-cards .wall-body .wall-body-part:nth-child(3n+3) {
            margin-right: 0; } }
      @media (min-width: 29.3125em) and (max-width: 48em) {
        .wall-cards .wall-body .wall-body-part {
          width: calc(50% - (0.809rem / 2)); }
          .wall-cards .wall-body .wall-body-part:nth-child(even) {
            margin-left: calc(0.809rem / 2); }
          .wall-cards .wall-body .wall-body-part:nth-child(odd) {
            margin-right: calc(0.809rem / 2); } }
      @media (max-width: 29.25em) {
        .wall-cards .wall-body .wall-body-part {
          width: 100%; } }
  .wall-cards .wall-footer {
    padding: 1.618rem 0; }

.shout.image-square {
  width: 6.472rem; }

.call.image-square {
  width: 3.236rem; }

.nudge.image-square {
  width: 0.809rem; }

.hint.image-square {
  width: 0.4045rem; }

.r-1x1.image-square {
  padding-top: 100%; }
  .r-1x1.image-square img, .r-1x1.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.r-7x5.image-square {
  padding-top: 71.42%; }
  .r-7x5.image-square img, .r-7x5.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.r-6x4.image-square {
  padding-top: 66.66%; }
  .r-6x4.image-square img, .r-6x4.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.r-16x9.image-square {
  padding-top: 56.25%; }
  .r-16x9.image-square img, .r-16x9.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.image-square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .image-square img,
  .image-square svg {
    width: 100%;
    height: auto; }
  .image-square.square {
    padding-top: 100%; }
  .image-square > * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
    .image-square > * img,
    .image-square > * svg {
      width: 100%;
      height: auto; }
    .image-square > *.square {
      padding-top: 100%; }
