@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900");
html body {
  text-transform: lowercase; }

.app-main {
  background-color: #fcfcfc; }

.multimedia-lightbox::after {
  background-color: #1f1f1f; }

.tool-toggle, #dock:checked ~ .app-main,
#explore:checked ~ .app-main,
#filter:checked ~ .app-main, .wall-cards .wall-footer {
  background-color: #0d0d0d; }

.menu-vertical .menu-header .menu-title, .menu-vertical .menu-body-part a, .multimedia-lightbox .multimedia-title, .multimedia-lightbox::after, #dock:checked ~ .app-main .app-header .app-title,
#explore:checked ~ .app-main .app-header .app-title,
#filter:checked ~ .app-main .app-header .app-title, #filter:checked ~ .app-main .panel-header .panel-title, #filter:checked ~ .app-main .panel-header .tool-scroll, #explore:checked ~ .app-main .panel-header .tool-scroll, .wall-cards .wall-footer {
  color: #fcfcfc; }

.checkbox-generic label::before, .checkbox-generic label::after, .radio-generic label::before, .range-generic output, .switch-generic label::before, .switch-generic label::after {
  color: #cccccc; }

.app-main .app-header .wrapper .app-title, .panel-filter .panel-header .panel-title {
  color: #0d0d0d; }

.type-p {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.333rem; }

.type-fine {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.75614rem;
  line-height: 1.333rem; }

.type-h1 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.74901rem;
  line-height: 1.333rem; }

.type-h2 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.52087rem;
  line-height: 1.333rem; }

.type-h3 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.3225rem;
  line-height: 1.333rem; }

.type-h4 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.3225rem;
  line-height: 1.333rem; }

.type-h5 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.15rem;
  line-height: 1.333rem; }

.type-h6 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.333rem; }

* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

:focus {
  outline: none; }

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1; }

input:focus {
  outline: 0; }

input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

::-webkit-search-decoration {
  display: none; }

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

textarea {
  vertical-align: top;
  overflow: auto; }

select[multiple] {
  vertical-align: top; }

.btn-main {
  height: auto;
  display: inline-flex;
  cursor: pointer; }

.btn-main .btn-title {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.15rem;
  line-height: 1.333rem;
  font-weight: 700;
  color: inherit;
  position: relative;
  color: #0d0d0d;
  transition: color 0.33s linear;
  padding-bottom: 0.6665rem; }
  .btn-main .btn-title::after {
    transition: all 0.33s linear;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #0d0d0d; }
  .btn-main .btn-title:hover::after, .btn-main .btn-title:active::after {
    width: calc(100% + 0.6665rem); }
  @media (max-width: 29.25em) {
    .btn-main .btn-title {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.333rem; }
      .btn-main .btn-title::after {
        height: 3px; } }

.card-post, .card-project {
  position: relative;
  display: block;
  border: solid 4px #0d0d0d;
  padding: 0.6665rem;
  transition: background-color 0.33s linear;
  background-color: #fcfcfc;
  cursor: pointer;
  height: 100%; }
  .card-post:hover, .card-project:hover, .card-post:active, .card-project:active {
    background-color: #0d0d0d; }
    .card-post:hover .card-header, .card-project:hover .card-header, .card-post:active .card-header, .card-project:active .card-header {
      color: #fcfcfc; }
    .card-post:hover .btn-title, .card-project:hover .btn-title, .card-post:active .btn-title, .card-project:active .btn-title {
      color: #fcfcfc; }
      .card-post:hover .btn-title::after, .card-project:hover .btn-title::after, .card-post:active .btn-title::after, .card-project:active .btn-title::after {
        background-color: #fcfcfc; }
  .card-post .card-media, .card-project .card-media {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center; }
    .card-post .card-media img, .card-project .card-media img, .card-post .card-media svg, .card-project .card-media svg {
      width: 100%;
      height: auto; }
    .card-post .card-media.square, .card-project .card-media.square {
      padding-top: 100%; }
  .card-post .card-header, .card-project .card-header {
    color: #0d0d0d;
    padding: 0.6665rem 0;
    transition: color 0.33s linear; }
    .card-post .card-header .card-subtitle, .card-project .card-header .card-subtitle {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.333rem;
      margin-bottom: 0.6665rem;
      display: flex; }
      @media (max-width: 29.25em) {
        .card-post .card-header .card-subtitle, .card-project .card-header .card-subtitle {
          font-family: "Source Code Pro", sans-serif;
          font-size: 0.75614rem;
          line-height: 1.333rem; } }

.form-main {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start; }

.form-main > * {
  margin-bottom: 1.333rem; }
  .form-main > *:last-child {
    margin-bottom: 0; }

.menu-vertical {
  visibility: visible; }

.menu-vertical {
  align-items: flex-start;
  width: 100%; }
  .menu-vertical .menu-header .menu-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem;
    margin-bottom: 0.6665rem;
    font-weight: 300; }
  .menu-vertical .menu-body {
    flex-direction: column;
    align-items: stretch;
    height: 100%; }
  .menu-vertical .menu-body-part {
    display: flex;
    text-align: left;
    margin-bottom: 0.6665rem; }
    .menu-vertical .menu-body-part a {
      position: relative; }
      .menu-vertical .menu-body-part a::after {
        background-color: #fcfcfc; }
    .menu-vertical .menu-body-part:last-child {
      margin-bottom: 0; }

.multimedia-lightbox {
  visibility: visible; }

.multimedia-lightbox {
  position: relative;
  cursor: pointer;
  transition: opacity 0.33s linear;
  display: block; }
  .multimedia-lightbox .multimedia-media {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
    .multimedia-lightbox .multimedia-media img,
    .multimedia-lightbox .multimedia-media svg {
      width: 100%;
      height: auto; }
    .multimedia-lightbox .multimedia-media.square {
      padding-top: 100%; }
  .multimedia-lightbox .multimedia-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.15rem;
    line-height: 1.333rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity 0.33s linear;
    opacity: 0;
    z-index: 5555; }
  .multimedia-lightbox:hover .multimedia-title {
    opacity: 1; }
  .multimedia-lightbox:hover::after {
    opacity: 1; }
  .multimedia-lightbox::after {
    transition: opacity 0.33s linear;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ''; }

.collection-blockquote header {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.15rem;
  line-height: 1.333rem;
  padding-bottom: 0.33325rem; }
  @media (max-width: 29.25em) {
    .collection-blockquote header {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.333rem; } }

.collection-blockquote footer {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.333rem;
  width: 100%;
  font-weight: 300; }

.collection-landing {
  align-self: flex-end;
  padding-bottom: 1.333rem; }
  .collection-landing h1 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.3225rem;
    line-height: 1.333rem;
    margin-bottom: 0.6665rem;
    font-weight: 700; }
    @media (min-width: 20.0625em) and (max-width: 29.25em) {
      .collection-landing h1 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }
    @media (max-width: 20em) {
      .collection-landing h1 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.15rem;
        line-height: 1.333rem; } }
  .collection-landing h2 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.15rem;
    line-height: 1.333rem;
    font-weight: 300; }
    @media (max-width: 20em) {
      .collection-landing h2 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.333rem; } }

.collection-main {
  margin-bottom: 1.333rem; }
  .collection-main:last-child {
    margin-bottom: 0; }
  .collection-main h1 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.74901rem;
    line-height: 1.333rem;
    font-weight: 700;
    margin-bottom: 0.6665rem; }
    @media (min-width: 29.3125em) and (max-width: 48em) {
      .collection-main h1 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.52087rem;
        line-height: 1.333rem; } }
    @media (max-width: 29.25em) {
      .collection-main h1 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }
  .collection-main h2 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.52087rem;
    line-height: 1.333rem;
    font-weight: 700;
    margin-bottom: 0.6665rem; }
    @media (min-width: 29.3125em) and (max-width: 48em) {
      .collection-main h2 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }
    @media (max-width: 29.25em) {
      .collection-main h2 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }
  .collection-main h3 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.3225rem;
    line-height: 1.333rem;
    font-weight: 700;
    margin-bottom: 0.6665rem; }
    @media (min-width: 29.3125em) and (max-width: 48em) {
      .collection-main h3 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }
    @media (max-width: 29.25em) {
      .collection-main h3 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.15rem;
        line-height: 1.333rem; } }
  .collection-main h4 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.3225rem;
    line-height: 1.333rem;
    font-weight: 700;
    margin-bottom: 0.6665rem; }
    @media (min-width: 29.3125em) and (max-width: 48em) {
      .collection-main h4 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.15rem;
        line-height: 1.333rem; } }
    @media (max-width: 29.25em) {
      .collection-main h4 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.333rem; } }
  .collection-main h5 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.15rem;
    line-height: 1.333rem;
    font-weight: 700;
    margin-bottom: 0.6665rem; }
    @media (min-width: 29.3125em) and (max-width: 48em) {
      .collection-main h5 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.333rem; } }
    @media (max-width: 29.25em) {
      .collection-main h5 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.333rem; } }
  .collection-main h6 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem;
    font-weight: 700; }
    @media (min-width: 29.3125em) and (max-width: 48em) {
      .collection-main h6 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.333rem; } }
    @media (max-width: 29.25em) {
      .collection-main h6 {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.333rem; } }
  .collection-main p {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem;
    font-weight: 300;
    margin-bottom: 0.6665rem; }
    .collection-main p:last-child {
      margin-bottom: 0; }

.checkbox-generic {
  visibility: visible; }

.checkbox-generic input {
  display: none; }

.checkbox-generic label {
  display: block;
  padding-left: calc(1.333rem + 0.33325rem);
  position: relative;
  cursor: pointer; }

.checkbox-generic label::before {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.33325rem;
  position: absolute;
  padding: 0;
  left: 0;
  top: 50%;
  content: '';
  height: 1.333rem;
  width: 1.333rem;
  transition: all 0.3s ease;
  transform-origin: right bottom;
  transform: translateY(-50%);
  box-sizing: border-box;
  transition-delay: 0.2s; }
  .checkbox-generic label::before > [class*='-header'] > [class*='tool']:first-child,
  .checkbox-generic label::before > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.33325rem; }
  .checkbox-generic label::before > [class*='-header'] > [class*='tool']:last-child,
  .checkbox-generic label::before > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.33325rem; }
  .checkbox-generic label::before > [class*='-header'],
  .checkbox-generic label::before > [class*='-filter'],
  .checkbox-generic label::before > [class*='-media'],
  .checkbox-generic label::before > [class*='-body'],
  .checkbox-generic label::before > [class*='-footer'] {
    margin-bottom: 0.33325rem; }
    .checkbox-generic label::before > [class*='-header']:last-child,
    .checkbox-generic label::before > [class*='-filter']:last-child,
    .checkbox-generic label::before > [class*='-media']:last-child,
    .checkbox-generic label::before > [class*='-body']:last-child,
    .checkbox-generic label::before > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .checkbox-generic label::before [class*='-header'],
  .checkbox-generic label::before [class*='-filter'],
  .checkbox-generic label::before [class*='-body'],
  .checkbox-generic label::before [class*='-footer'],
  .checkbox-generic label::before [class*='-tooltip'],
  .checkbox-generic label::before [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.33325rem; }
  .checkbox-generic label::before [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.33325rem; }
  .checkbox-generic label::before .btn-circle {
    padding: 0; }
    .checkbox-generic label::before .btn-circle .btn-media {
      padding: 0; }

.checkbox-generic label::after {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.33325rem;
  position: absolute;
  padding: 0;
  left: 0.33325rem;
  top: 50%;
  content: '';
  width: 0;
  height: 0.6665rem;
  border-top: none;
  border-left: none;
  border-color: #fcfcfc;
  transition: all 0.3s ease;
  transform: translateY(-50%);
  transform-origin: top left;
  box-sizing: border-box;
  opacity: 0; }
  .checkbox-generic label::after > [class*='-header'] > [class*='tool']:first-child,
  .checkbox-generic label::after > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.33325rem; }
  .checkbox-generic label::after > [class*='-header'] > [class*='tool']:last-child,
  .checkbox-generic label::after > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.33325rem; }
  .checkbox-generic label::after > [class*='-header'],
  .checkbox-generic label::after > [class*='-filter'],
  .checkbox-generic label::after > [class*='-media'],
  .checkbox-generic label::after > [class*='-body'],
  .checkbox-generic label::after > [class*='-footer'] {
    margin-bottom: 0.33325rem; }
    .checkbox-generic label::after > [class*='-header']:last-child,
    .checkbox-generic label::after > [class*='-filter']:last-child,
    .checkbox-generic label::after > [class*='-media']:last-child,
    .checkbox-generic label::after > [class*='-body']:last-child,
    .checkbox-generic label::after > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .checkbox-generic label::after [class*='-header'],
  .checkbox-generic label::after [class*='-filter'],
  .checkbox-generic label::after [class*='-body'],
  .checkbox-generic label::after [class*='-footer'],
  .checkbox-generic label::after [class*='-tooltip'],
  .checkbox-generic label::after [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.33325rem; }
  .checkbox-generic label::after [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.33325rem; }
  .checkbox-generic label::after .btn-circle {
    padding: 0; }
    .checkbox-generic label::after .btn-circle .btn-media {
      padding: 0; }

.checkbox-generic input:checked + label::after {
  width: 0.33325rem;
  left: 0.6665rem;
  transform: rotate(45deg) translate(-50%, -50%);
  opacity: 1;
  transition-delay: 0.2s; }

.checkbox-generic input:checked + label::before {
  background: #cccccc;
  transition-delay: 0; }

.input-text, .input-textarea {
  position: relative;
  display: inline-flex; }
  .input-text .input-label, .input-textarea .input-label {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .input-text .input-label .input-title, .input-textarea .input-label .input-title {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(0);
      transition: all 0.33s linear; }
    .input-text .input-label::after, .input-textarea .input-label::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(100%);
      background-color: #0d0d0d;
      height: 4px;
      transition: width 0.33s ease; }
      @media (min-width: 29.3125em) and (max-width: 48em) {
        .input-text .input-label::after, .input-textarea .input-label::after {
          height: 3px; } }
  .input-text:focus::after, .input-textarea:focus::after {
    width: calc(100% + 2.666rem); }
  .input-text input, .input-textarea input, .input-text textarea, .input-textarea textarea {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem;
    width: 100%;
    color: transparent;
    transition: color 0.33s linear; }
    .input-text input:focus, .input-textarea input:focus, .input-text input:valid, .input-textarea input:valid, .input-text textarea:focus, .input-textarea textarea:focus, .input-text textarea:valid, .input-textarea textarea:valid {
      color: #0d0d0d; }
      .input-text input:focus + .input-label .input-title, .input-textarea input:focus + .input-label .input-title, .input-text input:valid + .input-label .input-title, .input-textarea input:valid + .input-label .input-title, .input-text textarea:focus + .input-label .input-title, .input-textarea textarea:focus + .input-label .input-title, .input-text textarea:valid + .input-label .input-title, .input-textarea textarea:valid + .input-label .input-title {
        transform: translateY(-100%); }
      .input-text input:focus + .input-label::after, .input-textarea input:focus + .input-label::after, .input-text input:valid + .input-label::after, .input-textarea input:valid + .input-label::after, .input-text textarea:focus + .input-label::after, .input-textarea textarea:focus + .input-label::after, .input-text textarea:valid + .input-label::after, .input-textarea textarea:valid + .input-label::after {
        width: calc(100% + 0.6665rem); }

.radio-generic {
  visibility: visible; }

.radio-generic input {
  display: none; }

.radio-generic label {
  display: block;
  padding-left: calc(1.333rem + 0.33325rem);
  position: relative;
  cursor: pointer; }

.radio-generic label::before {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.33325rem;
  position: absolute;
  padding: 0;
  left: 0;
  top: 50%;
  content: '';
  height: 1.333rem;
  width: 1.333rem;
  transition: all 0.3s ease;
  transform-origin: right bottom;
  transform: translateY(-50%);
  box-sizing: border-box;
  transition-delay: 0.2s;
  border-radius: 1.333rem; }
  .radio-generic label::before > [class*='-header'] > [class*='tool']:first-child,
  .radio-generic label::before > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.33325rem; }
  .radio-generic label::before > [class*='-header'] > [class*='tool']:last-child,
  .radio-generic label::before > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.33325rem; }
  .radio-generic label::before > [class*='-header'],
  .radio-generic label::before > [class*='-filter'],
  .radio-generic label::before > [class*='-media'],
  .radio-generic label::before > [class*='-body'],
  .radio-generic label::before > [class*='-footer'] {
    margin-bottom: 0.33325rem; }
    .radio-generic label::before > [class*='-header']:last-child,
    .radio-generic label::before > [class*='-filter']:last-child,
    .radio-generic label::before > [class*='-media']:last-child,
    .radio-generic label::before > [class*='-body']:last-child,
    .radio-generic label::before > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .radio-generic label::before [class*='-header'],
  .radio-generic label::before [class*='-filter'],
  .radio-generic label::before [class*='-body'],
  .radio-generic label::before [class*='-footer'],
  .radio-generic label::before [class*='-tooltip'],
  .radio-generic label::before [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.33325rem; }
  .radio-generic label::before [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.33325rem; }
  .radio-generic label::before .btn-circle {
    padding: 0; }
    .radio-generic label::before .btn-circle .btn-media {
      padding: 0; }

.radio-generic label::after {
  content: '';
  position: absolute;
  padding: 0;
  left: 0.6665rem;
  top: 50%;
  width: 0.22217rem;
  height: 0.22217rem;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
  border-radius: 1.333rem;
  box-sizing: border-box;
  opacity: 0;
  background: #cccccc; }

.radio-generic input:checked + label::after {
  width: 0.6665rem;
  height: 0.6665rem;
  opacity: 1; }

.range-generic {
  opacity: 1; }

.range-generic {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .range-generic .range-slider {
    display: inline-block;
    position: relative;
    margin: 0 0.6665rem;
    flex: 1; }
  .range-generic input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    height: 2.666rem;
    width: 100%; }
  .range-generic input[type=range]:focus {
    outline: none; }
  .range-generic input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .range-generic input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .range-generic input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.333rem;
    height: 1.333rem;
    border: 3px solid #cccccc;
    transition: all 0.5s ease;
    transform: translateY(-50%);
    transform-origin: top left;
    box-sizing: border-box;
    background: #fcfcfc;
    border-radius: 100%;
    box-sizing: border-box; }
  .range-generic input[type=range]:hover::-webkit-slider-thumb {
    background: #fcfcfc; }
  .range-generic input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.333rem;
    height: 1.333rem;
    border: 3px solid #cccccc;
    transition: all 0.5s ease;
    transform: translateY(-50%);
    transform-origin: top left;
    box-sizing: border-box;
    background: #fcfcfc;
    border-radius: 100%;
    box-sizing: border-box; }
  .range-generic input[type=range]:hover::-moz-range-thumb {
    background: #fcfcfc; }
  .range-generic input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    width: 1.333rem;
    height: 1.333rem;
    border: 3px solid #cccccc;
    transition: all 0.5s ease;
    transform: translateY(-50%);
    transform-origin: top left;
    box-sizing: border-box;
    background: #fcfcfc;
    border-radius: 100%;
    box-sizing: border-box; }
  .range-generic input[type=range]:hover::-ms-thumb {
    background: #fcfcfc; }
  .range-generic input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic input[type=range]:focus::-webkit-slider-runnable-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic input[type=range]::-moz-range-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic input[type=range]::-ms-track {
    height: 4px;
    background: #cccccc;
    margin: 0;
    border-radius: 3px; }
  .range-generic .range-tooltip {
    pointer-events: none;
    position: absolute;
    bottom: 100%; }
  .range-generic output {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem;
    width: 100%;
    text-align: center; }
  .range-generic label {
    display: block;
    padding-left: calc(1.333rem + 0.33325rem);
    cursor: pointer; }

.select-generic {
  visibility: visible; }

.select-generic {
  border: 3px solid #cccccc;
  position: relative; }
  .select-generic select {
    position: relative;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0 1.333rem 0 0.6665rem;
    z-index: 2; }
  .select-generic::before {
    content: ' ';
    position: absolute;
    right: 1.9995rem;
    height: 100%;
    border-right: 3px solid #cccccc; }
  .select-generic::after {
    content: ' ';
    position: absolute;
    right: 0.6665rem;
    top: 50%;
    height: 0.33325rem;
    width: 0.33325rem;
    border-bottom: 3px solid #cccccc;
    border-right: 3px solid #cccccc;
    transform-origin: top center;
    transform: rotate(45deg) translateY(-50%); }

.switch-generic {
  visibility: visible; }

.switch-generic input {
  display: none; }

.switch-generic label {
  display: block;
  padding-left: calc(2.666rem + 0.33325rem);
  position: relative;
  cursor: pointer; }

.switch-generic label::before {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.33325rem;
  position: absolute;
  padding: 0;
  left: 0;
  top: 50%;
  content: '';
  height: 1.333rem;
  width: 2.666rem;
  transition: all 0.3s ease;
  transform-origin: right bottom;
  transform: translateY(-50%);
  box-sizing: border-box;
  border-radius: 1.333rem; }
  .switch-generic label::before > [class*='-header'] > [class*='tool']:first-child,
  .switch-generic label::before > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.33325rem; }
  .switch-generic label::before > [class*='-header'] > [class*='tool']:last-child,
  .switch-generic label::before > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.33325rem; }
  .switch-generic label::before > [class*='-header'],
  .switch-generic label::before > [class*='-filter'],
  .switch-generic label::before > [class*='-media'],
  .switch-generic label::before > [class*='-body'],
  .switch-generic label::before > [class*='-footer'] {
    margin-bottom: 0.33325rem; }
    .switch-generic label::before > [class*='-header']:last-child,
    .switch-generic label::before > [class*='-filter']:last-child,
    .switch-generic label::before > [class*='-media']:last-child,
    .switch-generic label::before > [class*='-body']:last-child,
    .switch-generic label::before > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .switch-generic label::before [class*='-header'],
  .switch-generic label::before [class*='-filter'],
  .switch-generic label::before [class*='-body'],
  .switch-generic label::before [class*='-footer'],
  .switch-generic label::before [class*='-tooltip'],
  .switch-generic label::before [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.33325rem; }
  .switch-generic label::before [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.33325rem; }
  .switch-generic label::before .btn-circle {
    padding: 0; }
    .switch-generic label::before .btn-circle .btn-media {
      padding: 0; }

.switch-generic label::after {
  position: relative;
  border: 3px #cccccc solid;
  padding: 0.33325rem;
  position: absolute;
  padding: 0;
  left: 0;
  top: 50%;
  content: '';
  width: 1.333rem;
  height: 1.333rem;
  transition: all 0.3s ease;
  transform: translateY(-50%);
  transform-origin: top left;
  box-sizing: border-box;
  border-radius: 1.333rem;
  background: #fcfcfc; }
  .switch-generic label::after > [class*='-header'] > [class*='tool']:first-child,
  .switch-generic label::after > [class*='-footer'] > [class*='tool']:first-child {
    margin-left: 0.33325rem; }
  .switch-generic label::after > [class*='-header'] > [class*='tool']:last-child,
  .switch-generic label::after > [class*='-footer'] > [class*='tool']:last-child {
    margin-right: 0.33325rem; }
  .switch-generic label::after > [class*='-header'],
  .switch-generic label::after > [class*='-filter'],
  .switch-generic label::after > [class*='-media'],
  .switch-generic label::after > [class*='-body'],
  .switch-generic label::after > [class*='-footer'] {
    margin-bottom: 0.33325rem; }
    .switch-generic label::after > [class*='-header']:last-child,
    .switch-generic label::after > [class*='-filter']:last-child,
    .switch-generic label::after > [class*='-media']:last-child,
    .switch-generic label::after > [class*='-body']:last-child,
    .switch-generic label::after > [class*='-footer']:last-child {
      margin-bottom: 0; }
  .switch-generic label::after [class*='-header'],
  .switch-generic label::after [class*='-filter'],
  .switch-generic label::after [class*='-body'],
  .switch-generic label::after [class*='-footer'],
  .switch-generic label::after [class*='-tooltip'],
  .switch-generic label::after [class*='-media'] {
    border: 2px #e6e6e6 solid;
    padding: 0.33325rem; }
  .switch-generic label::after [class*='-part'] {
    border: 2px #e6e6e6 dashed;
    padding: 0.33325rem; }
  .switch-generic label::after .btn-circle {
    padding: 0; }
    .switch-generic label::after .btn-circle .btn-media {
      padding: 0; }

.switch-generic input:checked + label::after {
  left: calc(2.666rem - 1.333rem); }

.switch-generic input:checked + label::before {
  background: #cccccc; }

.tool-scroll, .tool-toggle {
  cursor: pointer;
  padding: 0.6665rem;
  width: 2.666rem;
  height: 2.666rem;
  display: inline-flex;
  position: relative; }

.tool-scroll {
  padding: 0.6665rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tool-scroll .tool-media {
    transition: all 0.33s linear;
    width: 1.333rem;
    height: 1.333rem;
    position: relative;
    transition: transform 0.33s linear;
    transform: rotate(0deg); }
    .tool-scroll .tool-media svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0); }
      .tool-scroll .tool-media svg svg circle,
      .tool-scroll .tool-media svg svg ellipse,
      .tool-scroll .tool-media svg svg g,
      .tool-scroll .tool-media svg svg path,
      .tool-scroll .tool-media svg svg polyline,
      .tool-scroll .tool-media svg svg stroke {
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
        stroke-linecap: inherit;
        stroke-capoffset: inherit;
        stroke-dasharray: inherit;
        stroke-dashoffset: inherit;
        vector-effect: inherit; }
    .tool-scroll .tool-media polyline {
      fill: none;
      stroke-width: calc(4px / 2);
      stroke: #0d0d0d;
      transition: stroke 0.33s linear; }
    .tool-scroll .tool-media polygon {
      fill: #fcfcfc;
      transition: fill 0.33s linear; }
    .tool-scroll .tool-media:hover {
      transform: rotate(0deg), translateY(-0.33325rem); }

.tool-toggle .tool-media {
  background-color: transparent;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 1.333rem;
  height: 4px; }
  .tool-toggle .tool-media::before, .tool-toggle .tool-media::after {
    transition: transform 0.33s linear;
    background-color: #fcfcfc;
    content: '';
    position: inherit;
    left: inherit;
    top: inherit;
    transform: inherit;
    width: inherit;
    height: inherit; }

.utility-generic {
  visibility: visible; }

.utility-generic img {
  max-width: 100%; }

#dock,
#explore,
#filter {
  display: none; }
  #dock:checked ~ .app-main,
  #explore:checked ~ .app-main,
  #filter:checked ~ .app-main {
    border: solid #fcfcfc 0.6665rem; }

#filter:checked ~ .app-main .panel-filter {
  height: 100%;
  bottom: 0; }

#filter:checked ~ .app-main .panel-header .tool-scroll .tool-media {
  transform: rotate(90deg); }
  #filter:checked ~ .app-main .panel-header .tool-scroll .tool-media polygon {
    fill: #fcfcfc; }

#filter:checked ~ .app-main .panel-header::before {
  background-color: #fcfcfc; }

#filter:checked ~ .app-main .screen-body {
  opacity: 0; }

#explore:checked ~ .app-main .panel-explore {
  height: 100%;
  top: 0; }

#explore:checked ~ .app-main .panel-header .tool-scroll .tool-media {
  transform: rotate(180deg); }
  #explore:checked ~ .app-main .panel-header .tool-scroll .tool-media polyline {
    stroke: #fcfcfc; }

#explore:checked ~ .app-main .panel-header::before {
  background-color: #fcfcfc; }

#dock:checked ~ .app-main .app-header .tool-toggle .tool-media::before {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg); }

#dock:checked ~ .app-main .app-header .tool-toggle .tool-media::after {
  transform: translate3d(-50%, -50%, 0) rotate(45deg); }

#dock:checked ~ .app-main .app-body {
  transform: translateX(100%);
  opacity: 0;
  flex: 0;
  height: 0;
  overflow: hidden; }

#dock:checked ~ .app-main .app-footer {
  padding: 1.333rem;
  transform: translateX(0);
  opacity: 1;
  flex: 1; }

html,
body {
  height: 100%; }

.app-main {
  border: solid #0d0d0d 0.6665rem;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: background-color 0.33s ease, color 0.33s ease, border-color 0.33s ease; }
  .app-main .app-header {
    padding: 1.333rem; }
    .app-main .app-header .wrapper {
      display: flex;
      justify-content: space-between;
      align-self: center; }
      .app-main .app-header .wrapper .app-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem;
        transition: color 0.33s linear;
        display: flex;
        align-items: center;
        font-weight: 700; }
        @media (min-width: 20.0625em) and (max-width: 29.25em) {
          .app-main .app-header .wrapper .app-title {
            font-family: "Source Code Pro", sans-serif;
            font-size: 1.15rem;
            line-height: 1.333rem; } }
        @media (max-width: 20em) {
          .app-main .app-header .wrapper .app-title {
            font-family: "Source Code Pro", sans-serif;
            font-size: 1rem;
            line-height: 1.333rem; } }
  .app-main .app-footer {
    display: flex;
    align-self: center;
    flex-grow: 1;
    opacity: 0;
    width: 100%;
    flex: 0;
    height: 0;
    justify-content: flex-end;
    flex-direction: column;
    transform: translateX(-100%);
    transition: opacity 0.33s linear;
    overflow: hidden; }
    .app-main .app-footer .menu-vertical:first-child {
      padding-bottom: 1.333rem; }
    .app-main .app-footer .menu-vertical .btn-title::after {
      background-color: #fcfcfc; }
  .app-main .app-body {
    padding: 0 1.333rem;
    flex-grow: 1;
    opacity: 1;
    width: 100%;
    transition: opacity 0.33s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;
    -ms-overflow-style: none; }
    .app-main .app-body .app-body-part {
      width: 100%; }
      .app-main .app-body .app-body-part.start {
        height: 100%;
        flex-grow: 1;
        display: flex; }
      .app-main .app-body .app-body-part.header {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1rem;
        line-height: 1.333rem;
        width: 100%;
        padding-bottom: 0.6665rem;
        margin-bottom: 0.6665rem;
        border-bottom: solid #0d0d0d 4px; }

.board-bio, .board-post, .board-project, .board-talk, .board-landing {
  visibility: visible;
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .board-bio .board-header, .board-post .board-header, .board-project .board-header, .board-talk .board-header, .board-landing .board-header {
    color: #0d0d0d;
    padding-bottom: 0.6665rem; }
    @media (max-width: 29.25em) {
      .board-bio .board-header, .board-post .board-header, .board-project .board-header, .board-talk .board-header, .board-landing .board-header {
        padding-bottom: 0.33325rem; } }
    .board-bio .board-header > *:first-child, .board-post .board-header > *:first-child, .board-project .board-header > *:first-child, .board-talk .board-header > *:first-child, .board-landing .board-header > *:first-child {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.333rem;
      font-weight: 300;
      padding-bottom: 0.6665rem; }
    .board-bio .board-header + *, .board-post .board-header + *, .board-project .board-header + *, .board-talk .board-header + *, .board-landing .board-header + * {
      font-family: "Source Code Pro", sans-serif;
      font-size: 1rem;
      line-height: 1.333rem; }
  .board-bio .board-title, .board-post .board-title, .board-project .board-title, .board-talk .board-title, .board-landing .board-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.74901rem;
    line-height: 1.333rem;
    font-weight: 700; }
    @media (max-width: 29.25em) {
      .board-bio .board-title, .board-post .board-title, .board-project .board-title, .board-talk .board-title, .board-landing .board-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }
  .board-bio .board-body, .board-post .board-body, .board-project .board-body, .board-talk .board-body, .board-landing .board-body {
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.332rem; }
    @media (max-width: 64em) {
      .board-bio .board-body, .board-post .board-body, .board-project .board-body, .board-talk .board-body, .board-landing .board-body {
        padding-bottom: 2.666rem; } }
    .board-bio .board-body .board-body-part, .board-post .board-body .board-body-part, .board-project .board-body .board-body-part, .board-talk .board-body .board-body-part, .board-landing .board-body .board-body-part {
      width: 100%;
      color: #0d0d0d; }
      .board-bio .board-body .board-body-part:nth-child(2), .board-post .board-body .board-body-part:nth-child(2), .board-project .board-body .board-body-part:nth-child(2), .board-talk .board-body .board-body-part:nth-child(2), .board-landing .board-body .board-body-part:nth-child(2) {
        flex-grow: 1; }
      .board-bio .board-body .board-body-part:nth-child(3), .board-post .board-body .board-body-part:nth-child(3), .board-project .board-body .board-body-part:nth-child(3), .board-talk .board-body .board-body-part:nth-child(3), .board-landing .board-body .board-body-part:nth-child(3) {
        padding-bottom: 1.333rem; }
        @media (max-width: 20em) {
          .board-bio .board-body .board-body-part:nth-child(3), .board-post .board-body .board-body-part:nth-child(3), .board-project .board-body .board-body-part:nth-child(3), .board-talk .board-body .board-body-part:nth-child(3), .board-landing .board-body .board-body-part:nth-child(3) {
            display: none; } }

.board-bio .board-content {
  flex-direction: column;
  padding-bottom: 1.333rem; }

.board-post .board-content {
  flex-direction: column; }

@media (max-width: 20em) {
  .board-project .board-header > *:first-child {
    display: none; } }

.board-talk .board-content {
  flex-direction: column;
  max-width: 1200px; }

.board-talk .board-body {
  padding-bottom: 0; }

.board-talk .board-body-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1.333rem; }

.board-landing {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 1.333rem;
  flex-direction: column; }
  .board-landing .board-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.74901rem;
    line-height: 1.333rem;
    margin-bottom: 0.6665rem; }
    @media (max-width: 20em) {
      .board-landing .board-title {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }
  .board-landing .board-subtitle {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.52087rem;
    line-height: 1.333rem; }
    @media (max-width: 20em) {
      .board-landing .board-subtitle {
        font-family: "Source Code Pro", sans-serif;
        font-size: 1.3225rem;
        line-height: 1.333rem; } }

.panel-explore, .panel-filter {
  z-index: 8888;
  display: flex;
  flex-direction: column;
  transition: all 0.33s linear;
  position: absolute; }
  .panel-explore .panel-header, .panel-filter .panel-header {
    cursor: pointer;
    height: 0;
    position: relative;
    padding-top: 5.332rem; }
    @media (max-width: 64em) {
      .panel-explore .panel-header, .panel-filter .panel-header {
        padding-top: 2.666rem; } }
    .panel-explore .panel-header::before, .panel-filter .panel-header::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 4px;
      width: 100%;
      transition: background-color 0.33s linear;
      background-color: #0d0d0d; }
    .panel-explore .panel-header > .wrapper, .panel-filter .panel-header > .wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex; }
  .panel-explore .panel-body, .panel-filter .panel-body, .panel-explore .panel-media, .panel-filter .panel-media {
    width: 100%;
    max-width: 1200px;
    align-self: center;
    display: flex;
    transition: all 0.33s linear;
    flex-grow: 1;
    margin-right: -1.333rem;
    padding-right: 1.333rem;
    align-items: flex-start; }

.panel-explore {
  color: #fcfcfc;
  width: 100%;
  left: 0;
  top: calc(100% - 5.332rem); }
  @media (max-width: 64em) {
    .panel-explore {
      top: calc(100% - 2.666rem); } }
  .panel-explore .panel-header {
    justify-content: center; }
    .panel-explore .panel-header > .wrapper > * {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0); }
  .panel-explore .panel-media {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    flex-wrap: wrap;
    padding-bottom: 0.6665rem; }
    .panel-explore .panel-media > * {
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-size: contain;
      margin-bottom: 0.6665rem; }
      .panel-explore .panel-media > * img,
      .panel-explore .panel-media > * svg {
        width: 100%;
        height: auto; }
      .panel-explore .panel-media > *.square {
        padding-top: 100%; }
      @media (min-width: 48.0625em) {
        .panel-explore .panel-media > * {
          width: calc(33.33% - ((0.6665rem * 2) / 3));
          margin-right: 0.6665rem; }
          .panel-explore .panel-media > *:nth-child(3n+3) {
            margin-right: 0; } }
      @media (min-width: 29.3125em) and (max-width: 48em) {
        .panel-explore .panel-media > * {
          width: calc(50% - 0.6665rem / 2);
          margin-right: calc(0.6665rem / 2); }
          .panel-explore .panel-media > *:nth-child(even) {
            margin-left: calc(0.6665rem / 2);
            margin-right: 0; } }
      @media (max-width: 29.25em) {
        .panel-explore .panel-media > * {
          width: 100%; } }

.panel-filter {
  color: #fcfcfc;
  width: 100%;
  left: 0;
  bottom: calc(100% - 5.332rem); }
  @media (max-width: 64em) {
    .panel-filter {
      bottom: calc(100% - 2.666rem); } }
  .panel-filter .panel-header > .wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex; }
  .panel-filter .panel-header .panel-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem; }
  .panel-filter .panel-header .tool-media svg svg circle,
  .panel-filter .panel-header .tool-media svg svg ellipse,
  .panel-filter .panel-header .tool-media svg svg g,
  .panel-filter .panel-header .tool-media svg svg path,
  .panel-filter .panel-header .tool-media svg svg polyline,
  .panel-filter .panel-header .tool-media svg svg stroke {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
    stroke-linecap: inherit;
    stroke-capoffset: inherit;
    stroke-dasharray: inherit;
    stroke-dashoffset: inherit;
    vector-effect: inherit; }
  .panel-filter .panel-header .tool-media polygon {
    fill: #0d0d0d; }

.screen-blog, .screen-portfolio {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1; }
  .screen-blog .screen-body, .screen-portfolio .screen-body {
    transition: opacity 0.33s linear;
    opacity: 1;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: 5.332rem; }
    @media (max-width: 64em) {
      .screen-blog .screen-body, .screen-portfolio .screen-body {
        margin-top: 2.666rem; } }

.wall-cards .wall-header {
  padding: 1.333rem 0; }
  .wall-cards .wall-header .wall-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem; }

.wall-cards .wall-footer {
  position: relative; }

.wall-cards {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .wall-cards .wall-body {
    flex-wrap: wrap;
    display: flex; }
    .wall-cards .wall-body .wall-body-part {
      margin-bottom: 0.6665rem; }
      @media (min-width: 48.0625em) {
        .wall-cards .wall-body .wall-body-part {
          width: calc(33.33% - (0.6665rem * 2) / 3);
          margin-right: 0.6665rem; }
          .wall-cards .wall-body .wall-body-part:nth-child(3n+3) {
            margin-right: 0; } }
      @media (min-width: 29.3125em) and (max-width: 48em) {
        .wall-cards .wall-body .wall-body-part {
          width: calc(50% - (0.6665rem / 2)); }
          .wall-cards .wall-body .wall-body-part:nth-child(even) {
            margin-left: calc(0.6665rem / 2); }
          .wall-cards .wall-body .wall-body-part:nth-child(odd) {
            margin-right: calc(0.6665rem / 2); }
          .wall-cards .wall-body .wall-body-part:nth-last-child(2) {
            margin-bottom: 1.333rem; } }
      @media (max-width: 29.25em) {
        .wall-cards .wall-body .wall-body-part {
          width: 100%;
          margin-right: 0; } }
      .wall-cards .wall-body .wall-body-part:last-child {
        margin-bottom: 1.333rem; }
  .wall-cards .wall-footer {
    padding: 1.333rem 0; }

.shout.image-square {
  width: 5.332rem; }

.call.image-square {
  width: 2.666rem; }

.nudge.image-square {
  width: 0.6665rem; }

.hint.image-square {
  width: 0.33325rem; }

.r-1x1.image-square {
  padding-top: 100%; }
  .r-1x1.image-square img, .r-1x1.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.r-7x5.image-square {
  padding-top: 71.42%; }
  .r-7x5.image-square img, .r-7x5.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.r-6x4.image-square {
  padding-top: 66.66%; }
  .r-6x4.image-square img, .r-6x4.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.r-16x9.image-square {
  padding-top: 56.25%; }
  .r-16x9.image-square img, .r-16x9.image-square svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.image-square > * {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .image-square > * img,
  .image-square > * svg {
    width: 100%;
    height: auto; }
  .image-square > *.square {
    padding-top: 100%; }
